body.body-no-scroll { overflow: hidden; }
label,
.cur { cursor: pointer; }
/* global blogs */
.hide-if-zero-other[data-other-post="0"],
.custom-width-blogs-sidebar { display: none; }
/* Global css (thread_node) */
.echbay-blog { margin: 0 -10px; }
.echbay-blog li {
	float: left;
	width: 50%;
}
.echbay-blog-padding {
	margin: 0 10px;
	padding-bottom: 20px;
}
.echbay-blog-marginleft { padding-left: 15px; }
.echbay-blog-marginright { padding-right: 15px; }
.echbay-blog-margintop { padding-top: 8px; }
.echbay-blog-marginbottom { padding-bottom: 8px; }
.echbay-blog-title {
	margin-bottom: 3px;
	height: 38px;
	overflow: hidden;
}
.echbay-blog-title a {
	/* font-weight: bold; */
	color: #333;
	font-size: 14px;
}
.echbay-blog-infos {
	margin: 3px 0;
	overflow: hidden;
	height: 19px;
}
.echbay-blog-avt {
	background: #fff center no-repeat url(../images-global/noavatar.png);
	/* background-size: auto 100%; */
	background-size: contain;
	height: 150px;
	border: 1px #f2f2f2 solid;
}
.bgtrans .echbay-blog-avt { background-color: transparent; }
.echbay-blog-gioithieu,
.echbay-blog-ngay { color: #666; }
.echbay-blog-gioithieu {
	height: 38px;
	overflow: hidden;
	margin-top: 3px;/* text-align: justify; */
}
.echbay-blog-cat a { color: #666; }
.echbay-blog-left { width: 40%; }
.echbay-blog-right { width: 60%; }
.echbay-blogmain.echbay-blog100 .echbay-blog-left { width: 25%; }
.echbay-blogmain.echbay-blog100 .echbay-blog-right { width: 75%; }
.echbay-details-blog .echbay-blog-left { width: 30%; }
.echbay-details-blog .echbay-blog-right { width: 70%; }
.echbay-details-blog .echbay-blog-cat { display: none; }
.echbay-blog-giamoi {
	font-weight: bold;
	color: #f00;
}
.thread-list100 .echbay-blog-title,
.echbay-blog100 .echbay-blog-title,
.thread-list100 .echbay-blog-infos,
.thread-list100 .echbay-blog-gioithieu,
.echbay-blog100 .echbay-blog-gioithieu {
	height: auto;
	overflow: hidden;
}
/* tối đa cho phần giới thiệu của blog là 5 dòng */
.thread-list100 .echbay-blog-gioithieu,
.echbay-blog100 .echbay-blog-gioithieu { max-height: 95px; }
/* .thread-list100 .echbay-blog-infos, */
.style-for-mobile .thread-list100 .echbay-blog-gioithieu,
.style-for-mobile .echbay-blog100 .echbay-blog-gioithieu,
.style-for-mobile .thread-list100 .echbay-blog-title,
.style-for-mobile .echbay-blog100 .echbay-blog-title { height: 38px; }
/* custom flex blogs */
/*
.blogs_menu_noidung {
	display: -webkit-flex;
	display: flex;
	flex-direction: row-reverse;
}
.blogs_noidung_menu .custom-width-blogs-main,
.blogs_noidung_menu .custom-width-blogs-sidebar,
.blogs_menu_noidung .custom-width-blogs-main,
.blogs_menu_noidung .custom-width-blogs-sidebar {
	display: block;
	float: left;
}
.blogs_noidung_menu .custom-width-blogs-main,
.blogs_menu_noidung .custom-width-blogs-main { width: 75%; }
.blogs_noidung_menu .custom-width-blogs-sidebar,
.blogs_menu_noidung .custom-width-blogs-sidebar { width: 25%; }
*/
/* căn lề cho sidebar */
.home_menu_noidung .global-right-space,
.thread_list_menu_noidung .global-right-space,
.thread_details_menu_noidung .global-right-space,
.blogs_menu_noidung .global-right-space,
.blog_details_menu_noidung .global-right-space,
.page_menu_noidung .global-right-space { padding-right: 21px; }
/* */
.home_noidung_menu .global-right-space,
.thread_list_noidung_menu .global-right-space,
.thread_details_noidung_menu .global-right-space,
.blogs_noidung_menu .global-right-space,
.blog_details_noidung_menu .global-right-space,
.page_noidung_menu .global-right-space { padding-left: 21px; }
/*
.thread_list_menu_noidung .cats-right-space,
.thread_details_noidung_menu .product-right-space,
.blogs_menu_noidung .blogs-left-space,
.blog_details_menu_noidung .blog-left-space,
.blogs_noidung_menu .blogs-right-space { padding-right: 25px; }
.thread_list_noidung_menu .cats-right-space,
.thread_details_menu_noidung .product-right-space,
.blogs_noidung_menu .blogs-left-space,
.blog_details_noidung_menu .blog-left-space,
.blogs_menu_noidung .blogs-right-space { padding-left: 25px; }
*/
/* custom flex blogs-node */
.blogs_node_chi_chu {
	padding: inherit;
	margin: inherit;
}
.blogs_node_chi_chu .echbay-blog-left,
.blogs_node_chi_chu .echbay-blog-gioithieu,
.blogs_node_chi_chu .echbay-blog-ngay { display: none; }
.blogs_node_chi_chu .echbay-blog-marginleft { padding-left: 0; }
/*
.blogs_node_chi_chu .echbay-blog-marginleft {
	padding-left: 15px;
	position: relative;
}
.blogs_node_chi_chu .echbay-blog-marginleft:before {
	content: "\f111";
	font-family: FontAwesome;
	font-size: 9px;
	margin-right: 8px;
	position: absolute;
	left: 0;
	top: 35%;
}
*/
.blogs_node_chi_chu .echbay-blog-title {
	position: relative;
	padding-left: 15px;
}
.blogs_node_chi_chu .echbay-blog-title:before {
	content: "\f111";
	font-family: FontAwesome;
	font-size: 9px;
	position: absolute;
	left: 0;
}
.blogs_node_chi_chu .echbay-blog-padding {
	padding: 0;
	display: inline-block;
	margin: 0;
}
/* */
.blogs_node_chi_anh .echbay-blog-left {
	width: 100%;
	float: none;
}
.blogs_node_chi_anh .echbay-blog-right { display: none; }
.blogs_node_chi_anh li { margin: 0; }
.blogs_node_chi_anh .echbay-blog-padding { padding: 0; }
.blogs_node_chi_anh .echbay-blog-avt { border: 0 none; }
/* */
.blogs_node_chu_anh .echbay-blog-padding,
.blogs_node_chutren_anhduoi .echbay-blog-padding {
	display: -webkit-flex; /* Safari */
	display: flex;
}
.blogs_node_chu_anh .echbay-blog-padding { flex-direction: row-reverse; }
.blogs_node_chu_anh .echbay-blog-marginleft {
	padding-right: 15px;
	padding-left: 0;
}
.blogs_node_chi_chu .echbay-blog-left,
.blogs_node_chi_chu .echbay-blog-right,
.blogs_node_anhtren_chuduoi .echbay-blog-left,
.blogs_node_anhtren_chuduoi .echbay-blog-right,
.blogs_node_chutren_anhduoi .echbay-blog-left,
.blogs_node_chutren_anhduoi .echbay-blog-right {
	float: none;
	width: 100%;
}
.blogs_node_anhtren_chuduoi .echbay-blog-marginleft {
	padding-top: 8px;
	padding-left: 0;
}
.blogs_node_chutren_anhduoi .echbay-blog-padding { flex-direction: column-reverse; }
.blogs_node_chutren_anhduoi .echbay-blog-marginleft {
	padding-bottom: 8px;
	padding-left: 0;
}
/* end flex blog */
.details-hideif-hethang .details-ankhi-hethang { display: none; }
/*
.oi_member_func a:first-child:before {
	display: inline-block;
	margin-right: 5px;
	content: "\f007";
	font-family: FontAwesome;
}
*/
.oi_member_func a,
.oi_member_func i { display: inline-block; }
.oi_member_func a:first-child { margin-right: 15px }
.oi_member_func i { margin-right: 5px; }
.thread-details-relative { position: relative; }
.echbay-tintuc-ngaygui {
	font-style: italic;
	font-size: 14px;
	color: #999;
}
.echbay-tintuc-noidung {
	font-size: 15px;
	line-height: 20px;
	text-align: justify;
}
/* blog details flex */
/*
.blog_details_noidung_menu .custom-width-blog-main,
.blog_details_noidung_menu .custom-width-blog-sidebar,
.blog_details_menu_noidung .custom-width-blog-main,
.blog_details_menu_noidung .custom-width-blog-sidebar {
	float: left;
	display: block;
}
.blog_details_noidung_menu .custom-width-blog-main,
.blog_details_menu_noidung .custom-width-blog-main { width: 75%; }
.blog_details_noidung_menu .custom-width-blog-sidebar,
.blog_details_menu_noidung .custom-width-blog-sidebar { width: 25%; }
*/
/* .blog_details_noidung_menu .blog-right-space { padding-right: 25px; } */
/*
.blog_details_menu_noidung {
	display: -webkit-flex;
	display: flex;
	flex-direction: row-reverse;
}
*/
/* .blog_details_menu_noidung .blog-right-space { padding-left: 25px; } */
/*
* display flex cho cac trang co su dung menu sidebar
*/
/*
* Với các thiết kế có menu -> tạo hiển thị dưới dạng menu
*/
.home_noidung_menu .col-main-content,
.thread_list_noidung_menu .col-main-content,
.thread_details_noidung_menu .col-main-content,
.blogs_noidung_menu .col-main-content,
.blog_details_noidung_menu .col-main-content,
.page_noidung_menu .col-main-content,
/* */
.home_menu_noidung .col-main-content,
.thread_list_menu_noidung .col-main-content,
.thread_details_menu_noidung .col-main-content,
.blogs_menu_noidung .col-main-content,
.blog_details_menu_noidung .col-main-content,
.page_menu_noidung .col-main-content,
/* */
.home_noidung_menu .col-sidebar-content,
.thread_list_noidung_menu .col-sidebar-content,
.thread_details_noidung_menu .col-sidebar-content,
.blogs_noidung_menu .col-sidebar-content,
.blog_details_noidung_menu .col-sidebar-content,
.page_noidung_menu .col-sidebar-content,
/* */
.home_menu_noidung .col-sidebar-content,
.thread_list_menu_noidung .col-sidebar-content,
.thread_details_menu_noidung .col-sidebar-content,
.blogs_menu_noidung .col-sidebar-content,
.blog_details_menu_noidung .col-sidebar-content,
.page_menu_noidung .col-sidebar-content {
	display: block;
	float: left;
}
/*
* Chỉnh lại chiều rộng mặc định cho menu và content
*/
.home_noidung_menu .col-main-content,
.thread_list_noidung_menu .col-main-content,
.thread_details_noidung_menu .col-main-content,
.blogs_noidung_menu .col-main-content,
.blog_details_noidung_menu .col-main-content,
.page_noidung_menu .col-main-content,
/* */
.home_menu_noidung .col-main-content,
.thread_list_menu_noidung .col-main-content,
.thread_details_menu_noidung .col-main-content,
.blogs_menu_noidung .col-main-content,
.blog_details_menu_noidung .col-main-content,
.page_menu_noidung .col-main-content { width: 80%; }
/* */
.home_noidung_menu .col-sidebar-content,
.thread_list_noidung_menu .col-sidebar-content,
.thread_details_noidung_menu .col-sidebar-content,
.blogs_noidung_menu .col-sidebar-content,
.blog_details_noidung_menu .col-sidebar-content,
.page_noidung_menu .col-sidebar-content,
/* */
.home_menu_noidung .col-sidebar-content,
.thread_list_menu_noidung .col-sidebar-content,
.thread_details_menu_noidung .col-sidebar-content,
.blogs_menu_noidung .col-sidebar-content,
.blog_details_menu_noidung .col-sidebar-content,
.page_menu_noidung .col-sidebar-content { width: 20%; }
/*
* Lật ngược thiết kế đối với lựa chọn menu - nội dung
*/
.home_menu_noidung,
.thread_list_menu_noidung,
.thread_details_menu_noidung,
.blogs_menu_noidung,
.blog_details_menu_noidung,
.page_menu_noidung {
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-direction: row-reverse;
}
/*
.page_noidung_menu .page-right-space { padding-right: 20px; }
.page_menu_noidung .page-right-space { padding-left: 20px; }
.home_noidung_menu .home-right-space { padding-right: 25px; }
.home_menu_noidung .home-right-space { padding-left: 25px; }
*/
/* category details flex */
/*
.thread_list_noidung_menu .custom-width-cats-main,
.thread_list_noidung_menu .custom-width-cats-sidebar,
.thread_list_menu_noidung .custom-width-cats-main,
.thread_list_menu_noidung .custom-width-cats-sidebar {
	display: block;
	float: left;
}
.thread_list_noidung_menu .custom-width-cats-main,
.thread_list_menu_noidung .custom-width-cats-main { width: 80%; }
.thread_list_noidung_menu .custom-width-cats-sidebar,
.thread_list_menu_noidung .custom-width-cats-sidebar { width: 20% }
.thread_list_menu_noidung {
	display: -webkit-flex;
	display: flex;
	flex-direction: row-reverse;
}
*/
/* product details flex */
/*
.thread_details_noidung_menu .col-main-content,
.thread_details_noidung_menu .col-sidebar-content,
.thread_details_menu_noidung .col-main-content,
.thread_details_menu_noidung .col-sidebar-content {
	display: block;
	float: left;
}
.thread_list_noidung_menu .col-main-content,
.thread_list_menu_noidung .col-main-content,
.thread_details_noidung_menu .col-main-content,
.thread_details_menu_noidung .col-main-content { width: 80%; }
.thread_list_noidung_menu .col-sidebar-content,
.thread_list_menu_noidung .col-sidebar-content,
.thread_details_noidung_menu .col-sidebar-content,
.thread_details_menu_noidung .col-sidebar-content { width: 20%; }
.thread_details_menu_noidung {
	display: -webkit-flex;
	display: flex;
	flex-direction: row-reverse;
}
*/
/* home details flex */
/*
.home_noidung_menu .custom-width-home-main,
.home_noidung_menu .custom-width-home-sidebar,
.home_menu_noidung .custom-width-home-main,
.home_menu_noidung .custom-width-home-sidebar {
	display: block;
	float: left;
}
.home_noidung_menu .custom-width-home-main,
.home_menu_noidung .custom-width-home-main { width: 75%; }
.home_noidung_menu .custom-width-home-sidebar,
.home_menu_noidung .custom-width-home-sidebar { width: 25%; }
*/
/*
.home_noidung_menu .w90,
.home_noidung_menu .w99,
.home_menu_noidung .w90,
.home_menu_noidung .w99,
*/
.css-for-quickview .w99,
.css-for-quickview .w90,
.w99 .w99,
.w99 .w90,
/* .w90 .w99, */
.w90 .w90 {
	width: auto;
	/* min-width: 250px; */
	min-width: 180px;
}
.home_noidung_menu .home-hot-bg,
.home_menu_noidung .home-hot-bg { background: none; }
/*
.home_menu_noidung {
	display: -webkit-flex;
	display: flex;
	flex-direction: row-reverse;
}
*/
/* end home details flex */
.widget_random_home_post { padding: 15px 0; }
.widget_random_home_post .global-ul-load-ads li {
	position: relative;
	height: 90px;
}
.widget_random_home_post .global-ul-load-ads a,
.widget_random_home_post .global-ul-load-ads div {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.widget_random_home_post .global-ul-load-ads a {
	z-index: 1;
	display: block;
}
.widget_random_home_post .global-ul-load-ads div {
	background: #fff center no-repeat;
	background-size: auto 100%;
}
/*
.oi_big_banner {
	height: 250px;
	line-height: 250px;
	position: relative;
}
.oi_big_banner ul {
	position: absolute;
	left: 0;
	right: 0;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
*/
.text-center { text-align: center; }
.text-right { text-align: right; }
.tborder { border-top: 1px #ccc solid; }
.bborder { border-bottom: 1px #ccc solid; }
.lborder { border-left: 1px #ccc solid; }
.rborder { border-right: 1px #ccc solid; }
/*
* ẩn các trường khi giá khuyến mại là 0
* data-gia="0" -> ẩn chính class hide-if-gia-zero
* data-per="0" -> ẩn các class con trong class hide-if-gia-zero
*/
.hide-if-gia-zero[data-gia="0"],
.hide-if-gia-zero[data-per="0"] .old-price,
.hide-if-gia-zero[data-per="0"] .thread-list-per,
.echbay-blog-giamoi[data-gia="0"] { display: none; }
/* */
.old-price { text-decoration: line-through; }
.bold { font-weight: bold !important }
.normal { font-weight: normal !important }
/* background color */
.black-bg,
.blackbg { background-color: #000; }
.white-bg,
.whitebg { background-color: #fff; }
.gray-bg,
.graybg { background-color: #ccc; }
.gray2-bg,
.gray2bg { background-color: #f2f2f2; }
.red-bg,
.redbg { background-color: #f00; }
.red2-bg,
.red2bg { background-color: #c00; }
.blue-bg,
.bluebg { background-color: #00f; }
.green-bg,
.greenbg { background-color: #0f0; }
.org-button,
.orange-bg,
.orangebg,
.org-bg,
.orgbg { background-color: #f90; }
/* color */
.blackcolor { color: #333 !important }
.awhitecolor,
.awhitecolor a,
.whitecolor { color: #fff !important }
.redcolor,
.redcolor a { color: #f00 !important }
.bluecolor { color: #00f !important }
.greencolor { color: #090 !important }
.graycolor { color: #999 !important }
.orgcolor,
.a-orgcolor,
.a-orgcolor a,
.aorgcolor,
.aorgcolor a { color: #F90 !important; }
.small { font-size: 11px; }
.small2,
.small12 { font-size: 12px; }
.medium { font-size: 15px; }
.medium18 { font-size: 18px; }
.big { font-size: 23px; }
.big-big { font-size: 50px; }
.upper { text-transform: uppercase; }
.home-count-subcat,
.blog-count-subcat,
.display_none,
.d-none,
.custom-width-global-sidebar { display: none; }
.vhidden,
.v-hidden { visibility: hidden }
.vvisible,
.v-visible { visibility: visible }
a.eb-btn {
	display: inline-block;
	border: 1px #777 solid;
	background: -webkit-linear-gradient( bottom, rgba( 0, 0, 0, .2 ), rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .01 ) );
	background: -o-linear-gradient( bottom, rgba( 0, 0, 0, .2 ), rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .01 ) );
	background: -moz-linear-gradient( bottom, rgba( 0, 0, 0, .2 ), rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .01 ) );
	background: linear-gradient( bottom, rgba( 0, 0, 0, .2 ), rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .01 ) );
	text-decoration: none;
	line-height: 25px;
	padding: 0 15px;
	color: #333;
}
#oi_scroll_top {
	background: #434345;
	cursor: pointer;
	display: none;
	width: 50px;
	height: 50px;
	font-size: 18px;
	line-height: 45px;
	color: #fff;
	border-radius: 50%;
	-webkit-box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.4);
	box-shadow: 4px 4px 8px 0 rgba(0,0,0,0.4);
	position: fixed;
	right: 10px;
	display: none;
	overflow: hidden;
	text-align: center;
	text-decoration: none;
	z-index: 20;
	border: 0 none;
	top: 50%;
	transform: translate(0, -50%);
}
#oi_scroll_top:hover { background: #ff7e00; }
/* .ebfixed-top-menu #oi_scroll_top, */
.ebshow-top-scroll #oi_scroll_top { display: block; }
.ebfixed-top-menu .fixed-top-menu,
.ebfixed-top-menu .fix-top-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}
/* post details */
.thread-details-mobileCenter {
	max-width: 750px;
	margin: 0 auto;
}
/*
.thread-details-mobileCenter { position: relative; }
.thread-details-mobileLeft,
.thread-details-mobileRight {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 1;
	font-size: 50px;
	color: rgba( 0, 0, 0, .2 );
	line-height: 300px;
	display: none;
}
.thread-details-mobileLeft:hover,
.thread-details-mobileRight:hover { color: rgba( 0, 0, 0, .9 ); }
.thread-details-mobileLeft {
	left: 0;
	width: 40%;
}
.thread-details-mobileRight {
	right: 0;
	width: 60%;
}
*/
.thread-details-mobileAvt {
	line-height: 400px;
	height: 400px;
	overflow: hidden;
}
.thread-details-mobileAvt,
.thread-details-mobileAvt li {
	background: #fff center no-repeat;
	background-size: 100% auto;
	background-size: contain;
}
/*
.thread-details-mobileAvt li {
	display: inline-block;
	width: 99%;
}
.pdetail-slider-btn {
	text-align: center;
	position: relative;
}
.pdetail-slider-btn ul {
	left: 0;
	right: 0;
	top: -40px;
	position: absolute;
	z-index: 2;
}
.pdetail-slider-btn li {
	display: inline-block;
	margin: 0 5px;
	cursor: pointer;
}
.pdetail-slider-btn li:hover { color: #fff; }
.pdetail-slider-btn li.selected { color: #c00; }
*/
#export_img_product { display: none; }
/*
.product-details-thumb,
.home-jcarousel-control { position: relative; }
.jcarousel-control-prev,
.jcarousel-control-next,
.details-thumb-left,
.details-thumb-right {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: 99;
	cursor: pointer;
	opacity: .6;
}
.jcarousel-control-prev:hover,
.jcarousel-control-next:hover,
.details-thumb-left:hover,
.details-thumb-right:hover { opacity: 1; }
.details-thumb-left,
.details-thumb-right {
	font-size: 70px;
	display: none;
}
.details-thumb-left { left: 0; }
.details-thumb-right { right: 0; }
.details-thumb-center {
	height: 85px;
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
}
.details-thumb-center,
.details-thumb-left,
.details-thumb-right { line-height: 80px; }
.details-thumb-center li {
	width: 25%;
	cursor: zoom-in;
	float: left;
}
.details-thumb-center li div {
	background: #fff center no-repeat;
	background-size: auto 100%;
	margin: 0 8px 3px 8px;
}
.details-thumb-center li:hover div { border-color: #999; }
*/
/* post list */
.public-part-page {
	line-height: 25px;
	text-align: center;
	margin-bottom: 18px;
}
.public-part-page a,
.public-part-page span {
	display: inline-block;
	border: 1px #999 solid;
	min-width: 25px;
	margin: 0 5px;
	border-radius: 3px;
	color: #333;
}
.public-part-page span.current {
	background: #333;
	color: #fff;
	font-weight: bold;
}
.public-part-page span.dots { border: 0 none; }
/* chặn hạn chế cho copy nội dung */
.thread-content-bmask {
	position: relative;
	text-align: justify;
}
.thread-content-bmask a,
.thread-content-bmask iframe {
	position: relative;
	z-index: 2;
}
.thread-content-mask {
	position: absolute;
	top: 0;
	left: 0;
	/*
	right: 0;
	bottom: 0;
	*/
	z-index: 1;
	display: none;
}
.active-content-mask {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.active-content-mask .thread-content-mask {
	right: 0;
	bottom: 0;
	display: block;
}
/* */
.phone-numbers-block a { display: block; }
.phone-numbers-inline a { display: inline-block; }
.phone-numbers-inline a:after {
	content: "-";
	display: inline-block;
	padding: 0 5px 0 7px;
}
.phone-numbers-inline a:last-child:after { display: none; }
/* default contact */
.footer-address-info i.fa { display: none; }
.footer-address-hotline,
.footer-address-hotline:after,
.footer-address-cell { display: inline-block; }
.footer-address-hotline:after {
	content: "|";
	margin: 0 12px;
}
.right-padding-menu,
.padding-right-menu,
.right-space-menu,
.right-menu-space { padding-right: 25px; }
.left-padding-menu,
.padding-left-menu,
.left-space-menu,
.left-menu-space { padding-left: 25px; }
.table-list {
	background: #fff;
	border-top: 1px #ccc solid;
	border-right: 1px #ccc solid
}
.table-list td {
	border-top: 1px transparent solid;
	border-bottom: 1px #ccc solid;
	border-left: 1px #ccc solid;
	padding: 6px
}
.table-list .table-list-title {
	background: #f5f5f5 !important;
	text-align: center;
	font-weight: bold
}
.table-list tr:hover { background: #f9f9f9 }
/*
tr.hd_status-all:hover td {
	border-top-color: #999;
	border-bottom-color: #999;
}
.hd_status-all a { color: #00F; }
.hd_status-all td:first-child a { color: #fff; }
.invoice_status li {
	margin: 3px 0;
	float: left;
	width: 33.33%;
	line-height: 20px;
}
span.hd_status {
	display: inline-block;
	width: 30px;
	height: 20px;
	background: #f00;
	margin-right: 10px;
}
.hd_status-1 { text-decoration: line-through; }
.hd_status0 td:first-child,
span.hd_status0 { background: #666; }
.hd_status0 a { font-weight: bold }
.hd_status1 td:first-child,
span.hd_status1 { background: #00F; }
.hd_status2 td:first-child,
span.hd_status2 { background: #F90; }
.hd_status3 td:first-child,
span.hd_status3 { background: #090; }
.hd_status4 td:first-child,
span.hd_status4 { background: #ccc; }
.hd_status4 {
	text-decoration: line-through;
	color: #999;
}
.hd_status5 td:first-child,
span.hd_status5 { background: #C0F; }
.hd_status6 td:first-child,
span.hd_status6 { background: #F0F; }
.hd_status7 td:first-child,
span.hd_status7 { background: #600; }
.hd_status8 td:first-child,
span.hd_status8 { background: #60F; }
.hd_status9 td:first-child,
span.hd_status9 { background: #F00; }
.hd_statusred td:first-child { background: #C00; }
.hd_statusred { color: #C00; }
*/
.invoice-vang-auto td:first-child { background: #CCC621 !important; }
#target_eb_iframe {
	position: absolute;
	top: -800px;
	left: -999px;
}
#target_eb_iframe.show-target-echbay {
	position: inherit;
	top: 0;
	left: 0;
	margin-left: 15%;
}
/*
.global-w99 {
	max-width: 999px;
	min-width: 250px;
	margin: 0 auto;
}
*/
.global-a-posi,
.global-position-relative { position: relative; }
.global-a-posi a,
.global-position-relative a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}
.search-select-option {
	position: relative;
	background: #fff;
	border: 1px #ccc solid;
	border-radius: 2px;
	z-index: 1;
}
.search-select-down {
	position: absolute;
	top: 0;
	right: 5px;
	line-height: 29px;
}
.search-select-option:hover { }
.search-select-option input[type="text"] {
	background: none;
	padding: 0 0 0 3px;
	width: 95%;
	outline: none;
	height: 29px;
	border: 0 none;
}
.search-select-option select { display: none; }
.search-select-option div {
	background: #fff;
	position: absolute;
	top: 29px;
	left: 0;
	right: 0;
	border: 1px #ccc solid;
	display: none;
}
.search-select-option ul { }
.search-select-option li {
	line-height: 23px;
	padding-left: 10px;
	display: block;
}
.search-select-option li,
.search-select-option a { color: #333; }
.search-select-option a { }
.search-select-option li.selected:after {
	content: "\f00c";
	font-weight: normal;
	color: #090;
	margin-left: 5px;
	font-family: FontAwesome;
}
.search-select-option li:hover,
.search-select-option li:hover a {
	background-color: #06F;
	color: #fff;
}
.search-select-option a:hover { text-decoration: underline; }
.search-select-scroll {
	height: 200px;
	overflow-y: scroll;
}
.search-select-option input[type="text"]::-webkit-input-placeholder {
color: #333;
}
.search-select-option input[type="text"]:-moz-placeholder {
color: #333;
}
.search-select-option input[type="text"]::-moz-placeholder {
color: #333;
}
.search-select-option input[type="text"]:-ms-input-placeholder {
color: #333;
}
.img-max-width { overflow: hidden; }
.hr-line-border {
	height: 1px;
	padding: 0;
	margin: 5px 0;
	border: 0 none;
	border-bottom: 1px #ccc solid;
}
.hr-line-before {
	position: relative;
	border: 0 none;
	border-bottom: 2px #ccc solid;
	line-height: 20px;
	padding: 0;
	font-size: 18px;
	margin: 5px 0 10px 0;
}
.hr-line-before:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	border-bottom: 2px #F60 solid;
	width: 33%;
	min-width: 50px;
}
.echbay-blog-module {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}
.ul-default-style ul {
	padding-left: 40px;
	margin: 1em 0;
	list-style: disc;
}
.ul-default-style h1,
.ul-default-style h2,
.ul-default-style h3,
.ul-default-style h4,
.ul-default-style h5,
.ul-default-style h6 {
	/* margin: 0.83em 0; */
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}
/* chỉnh line-height cho các thẻ H về mặc định của chrome */
.ul-default-style h1 {
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	line-height: 28px;
}
.ul-default-style h2 {
	line-height: 25px;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
}
.ul-default-style h3 {
	line-height: 20px;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
}
.ul-default-style h4 {
	line-height: 18px;
	-webkit-margin-before: 1.33em;
	-webkit-margin-after: 1.33em;
}
.ul-default-style h5 {
	-webkit-margin-before: 1.67em;
	-webkit-margin-after: 1.67em;
}
.ul-default-style h6 {
	-webkit-margin-before: 2.33em;
	-webkit-margin-after: 2.33em;
}
.ul-default-style table {
	border-top: 1px #ccc solid;
	border-right: 1px #ccc solid;
}
.ul-default-style td {
	border-bottom: 1px #ccc solid;
	border-left: 1px #ccc solid;
	padding: 6px;
}
.cart-pro-phet {
	background: #fff;
	padding: 15px 5px;
	-moz-border-radius: 6pt;
	border-radius: 6pt;
}
.cart-pro-phet #oi_send_invoice { }
.cart-pro-phet #cart_null {
	font-size: 13pt;
	color: #f00;
	padding: 68px 0;
	font-weight: bold
}
.cart-pro-phet .cart-total {
	padding: 10px 0;
	font-size: 11pt;
	font-weight: bold
}
.cart-pro-phet .cart-total strong {
	font-size: 14pt;
	color: #900
}
.cart-table { color: #707070; }
.cart-table td {
	padding: 10px 5px;
	border-bottom: 1px #ccc solid;
}
.cart-table tr td:first-child { padding-left: 0; }
.cart-table-subject {
	font-size: 15px;
	font-weight: 500;
	color: #666;
}
.cart-table-remove { padding: 12px 0 0 0; }
.cart-table-remove i {
	color: #fff;
	display: inline-block;
	line-height: 20px;
	width: 20px;
	text-align: center;
	border-radius: 50%;
	background: #f00;
}
.cart-table input[type="text"] {
	width: 30px;
	padding: 5px;
}
.cart-table-title {
	border-top: 1px #ccc solid;
	line-height: 50px;
	color: #666;
}
.cart-table-prev {
	background: #333;
	color: #fff;
	border: 0 none;
	padding: 8px 25px;
}
.cart-table-total {
	background: #ECECEC;
	padding: 25px 10px;
	margin: 10px 0;
	font-size: 18px;
	text-align: right;
}
.cart-pay-method {
	line-height: 19px;
	font-size: 14px;
}
.cart-pay-method div {
	background: #ECECEC;
	margin-bottom: 10px;
	padding: 8px 5px;
}
.cart-pay-method label { }
.cart-pay-method { }
.cart-table-free { line-height: 20px; }
.cart-table-free div {
	position: relative;
	background: #ECECEC;
	padding: 10px 10px 10px 40px;
}
.cart-table-free i {
	position: absolute;
	left: 10px;
	font-size: 23px;
}
.cart-table-free li:first-child div { margin-right: 10px; }
.cart-table-free li:last-child div { margin-left: 10px; }
.cart-ultable { line-height: 33px; }
.cart-ultable li { padding: 7px 0; }
.cart-ultable input[type="email"],
.cart-ultable input[type="text"],
.cart-ultable textarea {
	width: 90%;
	max-width: 350px;
	padding: 8px;
	border-radius: 2px;
	border: 1px #999 solid;
	background: #fff;
}
.cart-ultable textarea { height: 90px; }
.cart-ultable select {
	min-width: 160px;
	padding: 6px;
}
.cart-ultable li div.f25 { font-size: 15px; }
.cart-mua-button {
	background: #333;
	color: #fff;
	padding: 15px 25px;
	font-size: 18px;
	border: 0 none;
}
/*
* wp-content
*/
.aligncenter,
.aligncenter img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.aligncenter .wp-caption-text {
	text-align: center;
	font-style: italic;
	font-size: 85%;
}
/* */
.sponsor-top-desktop { padding: 25px 0; }
.sponsor-top-title {
	color: #4c4c4c;
	padding: 32px 0 50px 0;
}
.home-btn-chantrang {
	position: relative;
	border-top: 1px #dadada solid;
	border-bottom: 1px #dadada solid;
}
.home-prev-chantrang,
.home-next-chantrang { display: none; }
/*
.home-prev-chantrang,
.home-next-chantrang {
	position: absolute;
	font-size: 20px;
	z-index: 9;
	top: 0;
	bottom: 0;
	line-height: 99%;
	width: 20px;
	color: #666;
	cursor: pointer;
	display: none;
}
.home-prev-chantrang i,
.home-next-chantrang i {
	position: absolute;
	top: 35%;
}
.home-prev-chantrang { left: 0; }
.home-next-chantrang {
	right: 0;
	text-align: right;
}
.home-next-chantrang i { right: 0; }
*/
.banner-chan-trang {
	line-height: 50px;
	height: 50px;
	overflow: hidden;
}
.banner-chan-trang li {
	width: 20%;
	display: inline-block;
}
.banner-chan-trang .banner-ads-media {
	margin: 0 14px;
	background-size: contain;
}
.banner-video-media {
	background-color: #000;
	background-image: none !important;
}
.banner-video-media div,
.banner-video-media video {
	position: absolute;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
}
.slider-window-size .banner-ads-media { background-size: cover; }
/* search */
.thread-search { }
.thread-search li {
	margin: 8px 0 15px 0;
	border-bottom: 1px #f2f2f2 solid;
	padding-bottom: 10px;
}
.thread-search-title { margin-bottom: 8px; }
.thread-search-cat,
.thread-search-cat a { color: #006621; }
.thread-search-avt {
	margin: 8px 0;
	height: 90px;
	line-height: 90px;
	background: left no-repeat;
	background-size: auto 100%;
}
.thread-list-order { position: relative; }
.thread-list-order .thread-list-orderby {
	position: absolute;
	right: 0;
	z-index: 5;
}
.thread-list-orderby select { padding: 2px; }
/* search by price */
/*
.echbay-product-price-between li { margin-bottom: 10px; }
.echbay-product-price-between a {
	display: block;
	color: #333;
}
.echbay-product-price-between .current-url-select {
	font-weight: bold;
	color: #f00;
}
*/
/* */
.eb-product-size {
	font-size: 11pt;
	line-height: 30px;
}
.eb-product-size li {
	float: left;
	border: 1px #ccc solid;
	margin: 0 5px 5px 0;
	line-height: 30px;
	min-width: 20px;
	padding: 0 5px;
	text-align: center;
	font-size: 11pt;
	color: #333;
	cursor: pointer;
	position: relative;
}
.eb-product-size li.selected {
	background: #313131;
	color: #fff;
}
.eb-product-size li span {
	position: absolute;
	background: rgba(255,255,255,.8);
	display: none;
	line-height: 20px;
	border-radius: 3px;
	bottom: -15px;
	left: 50%;
	min-width: 90px;
	max-width: 180px;
	padding: 0 5px;
	font-size: 12px;
	z-index: 2;
	border: 1px #f2f2f2 solid;
}
.eb-product-size li:hover span { display: inline-block; }
/* */
#click_show_cpa {
	background: rgba(0, 0, 0, .6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	z-index: 999;
	display: none;
	overflow: auto;
}
.cart-quick {
	background: #fff;
	width: 95%;
	max-width: 500px;
	margin: 20px auto;
	border-radius: 3px;
}
.cart-quick-padding { padding: 25px; }
.cart-quick-close { position: relative; }
.cart-quick-close div {
	position: absolute;
	top: 6px;
	right: 6px;
	font-size: 16px;
	border: 1px #ccc solid;
	background: #fff;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	border-radius: 2px;
}
.cart-quick-title {
	background: #F1F1F1;
	line-height: 25px;
	padding: 10px 20px;
	border-bottom: 1px #ccc solid;
	border-radius: 3px 3px 0 0;
	font-size: 23px;
}
.eb-quickcart-table {
	font-size: 14px;
	line-height: 28px;
}
.eb-quickcart-table select {
	padding: 8px;
	box-shadow: 0 0 8px #999;
	cursor: pointer;
	font-size: 15px;
}
.eb-quickcart-table input[type="email"],
.eb-quickcart-table input[type="text"],
.eb-quickcart-table textarea {
	background: #f2f2f2;
	border: 1px #ccc solid;
	border-radius: 3px;
	width: 95%;
	padding: 3px;
	outline: none;
	padding: 5px 3px;
}
.eb-quickcart-table input[type="text"]:hover,
.eb-quickcart-table textarea:hover,
.eb-quickcart-table input[type="text"]:focus,
.eb-quickcart-table textarea:focus { background-color: #fff; }
.eb-quickcart-table textarea { height: 45px; }
.eb-quickcart-table button {
	width: 95%;
	max-width: 215px;
	border: 0 none;
	font-size: 20px;
	padding: 11px 0;
	border-radius: 1px;
	margin: 5px auto;
	display: inline-block;
}
button.btn-addto-cart {
	color: #fff;
	cursor: pointer;
	display: none;
}
.eb-quickcart-node { margin-bottom: 12px; }
.eb-quickcart-left,
.eb-quickcart-right { float: left; }
.eb-quickcart-left { width: 30%; }
.eb-quickcart-right { width: 70%; }
.eb-quickcart-quan .eb-quickcart-left { line-height: 36px; }
/* thêm icon open youtube */
.youtube-quick-view li .echbay-blog-avt { text-align: center; }
.youtube-quick-view li .echbay-blog-avt:before {
	font-family: FontAwesome;
	content: "\f16a";
	font-size: 30px;
	margin: 0 auto;
	color: #CC181E;
}
.youtube-quick-view li:hover .echbay-blog-avt:before { color: #fff; }
/* widget */
.echbay-widget-youtube-padding,
.widget_echbay_youtube,
.widget_echbay_gg_map { margin-bottom: 19px; }
.widget_echbay_youtube .echbay-widget-youtube-padding { margin-bottom: 0; }
.widget_random_blog { padding-bottom: 12px; }
.widget_random_blog li { margin: 6px 0; }
.echbay-category-in-js,
.echbay-product-price-between {
	margin-bottom: 10px;
	font-size: 15px;
}
.echbay-category-order ul,
/* .echbay-category-in-js, */
.ul-widget-home_list {
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-direction: column-reverse;
	flex-wrap: wrap;
}
.ul-widget-home_list li,
/* .echbay-category-in-js li, */
.echbay-category-order li { order: 0; }
.echbay-category-in-js li,
.echbay-product-price-between li {
	line-height: 20px;
	margin: 0 0 10px 22px;
	list-style: disc;
}
.echbay-category-in-js,
.echbay-category-in-js a,
.echbay-product-price-between,
.echbay-product-price-between a { color: #6f6f6f; }
.echbay-category-in-js .children { font-size: 13px; }
.echbay-category-in-js a:hover,
.echbay-product-price-between a:hover { text-decoration: underline; }
.echbay-widget-title {
	position: relative;
	border-bottom: 2px #ccc solid;
	line-height: 20px;
	padding: 5px 0;
	font-size: 18px;
	margin-bottom: 10px;
}
.echbay-widget-title,
.echbay-widget-title a { color: #333; }
.echbay-widget-title:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;
	border-bottom: 2px #F60 solid;
	width: 33%;
	min-width: 50px;
}
.widget-category-selectbox {
	position: relative;
	margin: 5px 0;
}
.widget-category-selectbox a {
	color: #333;
	display: block;
	padding: 0 5px 0 15px;
	line-height: 35px;
}
.widget-category-selectbox ul {
	position: absolute;
	left: 10px;
	right: 10px;
	border: 1px #ccc solid;
	min-width: 200px;
	background: #fff;
	z-index: 10;
	font-size: 14px;
	-webkit-box-shadow: 0 2px 2px #ccc;
	-moz-box-shadow: 0 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
	display: none;
}
.widget-category-selectbox:hover ul { display: block; }
/*
.widget-category-selectbox:hover ul.echbay-category-in-js {
	display: -webkit-flex;
	display: flex;
}
*/
.widget-category-selectbox li {
	list-style: none;
	padding: 0;
	margin: 0;
	border-bottom: 1px #f2f2f2 solid;
}
.widget-category-selectbox li:hover { background: #f5f5f5; }
.widget-category-selectbox .echbay-widget-title {
	padding: 0 8px;
	line-height: 35px;
	font-size: 16px;
	box-shadow: 0px 0px 5px #E7E7E7 inset;
	border-radius: 3px;
	border: 1px #ccc solid;
	position: relative;
	margin-bottom: 0;
	margin: 0 10px;
	text-transform: none;
	position: relative;
	cursor: pointer;
}
.widget-category-selectbox .echbay-widget-title:before { display: none; }
.widget-category-selectbox .echbay-widget-title:after {
	content: "\f0d7";
	position: absolute;
	right: 10px;
	top: 0;
	font-family: FontAwesome;
	font-size: 14px;
}
.widget-category-selectbox .children { display: none !important; }
.global-button-for-seach-advanced { position: relative; }
a.search-advanced-btn {
	padding: 0;
	background: #c00;
	border-radius: 3px;
	color: #fff !important;
	font-weight: bold;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	line-height: 37px;
	text-align: center;
	margin: 5px 10px 0 10px;
}
.widget_random_home_post:nth-child(odd) { background-color: #f9f9f9; }
/* login, register */
#oi_popup {
	background: rgba(0, 0, 0,.68);
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999999;
	display: none;
}
#oi_popup #oi_popup_inner {
	background: #CCC;
	width: 90%;
	max-width: 450px;
	padding: 10px;
	margin: 50px auto 0 auto;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#oi_popup_inner .opoup-title-bg {
	/* background: #090; */
	line-height: 40px;
	padding: 0 10px;
	border: 1px #fff solid;
}
#oi_popup_inner .opoup-title-bg strong { font-size: 16px; }
/*
#oi_popup_inner .opoup-title-bg,
#oi_popup_inner .opoup-title-bg a { color: #fff; }
*/
#oi_popup_inner .popup-padding {
	background: #fff;
	padding: 15px 20px 50px 20px;
}
#oi_popup_inner input[type="email"],
#oi_popup_inner input[type="password"] {
	background: #fff;
	outline: none;
	width: 90%;
	max-width: 288px;
	padding: 5px;
	border: 1px #999 solid;
}
#oi_popup_inner input[type="email"]:focus,
#oi_popup_inner input[type="password"]:focus { border-color: #000; }
#oi_popup_inner button { padding: 6px 15px; }
#oi_popup_inner .popup-border { display: block !important; }
/* */
.quick-video-close {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	line-height: 45px;
	padding: 0 20px;
	background: #111;
	z-index: 1000;
	color: #fff;
}
.quick-video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .9);
	display: none;
	z-index: 9999;
}
.quick-video-padding {
	padding: 70px 1px 25px 1px;
	color: #fff;
}
.quick-video-node {
	padding: 25px 0;
	border-bottom: 1px #666 solid;
}
.quick-video-width { margin: 0 auto;/* max-width: 600px; */ }
.quick-video-title {
	font-size: 16px;
	margin-bottom: 10px;
}
.ebe-currency:before,
.ebe-currency:after { content: "\0111"; }
/* .ebe-currency:after, */
.ebe-currency:after {
	display: inline-block;
	margin-left: 2px;
}
.ebe-currency:before {
	display: none;
	margin-right: 2px;
}
.global-cats-description {
	font-size: 15px;
	text-align: justify;
	line-height: 25px;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	overflow: hidden;/* max-height: 250px; */
}
.viewmore-cats-description {
	display: none;
	font-size: 14px;
	text-align: center;
	background: -webkit-linear-gradient( top, rgba( 255, 255, 255, .4 ), rgba( 255, 255, 255, .6 ), rgba( 255, 255, 255, .7 ) );
	background: -o-linear-gradient( top, rgba( 255, 255, 255, .4 ), rgba( 255, 255, 255, .6 ), rgba( 255, 255, 255, .8 ) );
	background: -moz-linear-gradient( top, rgba( 255, 255, 255, .4 ), rgba( 255, 255, 255, .6 ), rgba( 255, 255, 255, .8 ) );
	background: linear-gradient( top, rgba( 255, 255, 255, .4 ), rgba( 255, 255, 255, .6 ), rgba( 255, 255, 255, .8 ) );
	padding: 65px 0 15px 0;
	margin-top: -50px;
	margin-bottom: 15px;
	position: relative;
}
.global-cats-description-scroll { height: 200px; }
.global-cats-description-active {
	height: auto !important;
	max-height: unset !important;
	max-height: none !important;
	overflow: auto !important;
	padding-bottom: 50px;
}
.global-cats-description h2,
.global-cats-description h3,
.global-cats-description h4,
.global-cats-description h5,
.global-cats-description h6,
.global-cats-description div { margin: 0; }
.click-viewmore-thread-details,
.click-viewmore-cats-description {
	color: #333;
	display: inline-block;
	border: 1px #ccc solid;
	line-height: 36px;
	border-radius: 3px;
	box-shadow: 0 0 10px #999;
	margin: 15px 0;
	font-size: 18px;
	width: 90%;
	max-width: 250px;
}
.click-viewmore-thread-details:after,
.click-viewmore-cats-description:after {
	content: "\00bb";
	display: inline-block;
	margin-left: 10px;
}
.thread-content-viewmore { overflow: hidden; }
/* */
.org-button,
.blue-button,
.red-button,
.w-button { padding: 3pt 10pt; }
.org-button,
.blue-button,
.red-button,
.w-button,
.xem-button {
	color: #fff;
	font-weight: bold;
	border-radius: 3pt;
	-moz-border-radius: 3pt;
}
.blue-button {
	background: #488BF9;
	border: 1px #2F5BB7 solid;
}
.red-button {
	background: #d14836;
	border: 1px transparent solid;
}
.org-button { border: 1px transparent solid; }
.order-danhsach-sanpham,
.eb-public-table {
	border: 1px #ccc solid;
	background: #fff;
	width: 95%;
	min-width: 450px;
}
.eb-public-table {
	max-width: 999px;
	border-radius: 2px;
	padding: 10px 15px;
}
.eb-editer-table {
	padding: 0;
	border: 0 none;
}
.eb-public-table td { padding: 8px 0; }
.eb-public-table .t {
	width: 25%;
	font-size: 15px;
	color: #555;
}
.eb-public-table .i { width: 70%; }
.eb-public-table .s {
	width: 10%;
	min-width: 80px;
}
.eb-public-table .n { width: 30%; }
.eb-public-table .m { width: 60%; }
.eb-public-table .l,
.eb-public-table textarea { width: 90%; }
.eb-public-table div.small { line-height: 16px; }
input[type="text"].s,
input[type="number"].s { width: 90px; }
.maxwidth-public-table {
	max-width: none;
	width: 99%;
}
.maxwidth-public-table .t { width: 20%; }
.maxwidth-public-table .i { width: 75%; }
.order-danhsach-sanpham { padding: 1px; }
.order-danhsach-sanpham tr:first-child {
	font-weight: bold;
	background: #ccc
}
.order-danhsach-sanpham td { padding: 8px 6px; }
.order-danhsach-sanpham .s { width: 60px; }
.product-color {
	line-height: 45px;
	font-size: 11pt;
}
.product-color li {
	background: #fff center no-repeat;
	background-size: auto 100%;
	width: 45px;
	height: 45px;
	float: left;
	border: 1px #d3d3d3 solid;
	margin: 0 5px 5px 0;
	cursor: pointer;
	position: relative;
	text-transform: capitalize;
}
.product-color li.text-color-center {
	width: auto;
	min-width: 35px;
	padding: 0 5px;
	border-color: #c00;
	background: url(../images-global/tick.png) right bottom no-repeat;
}
.product-color li div {
	display: none;
	position: absolute;
	line-height: 16px;
	font-size: 12px;
	width: 300%;
	left: -100%;
	bottom: -18px;
	text-align: center;
	background: rgba(255,255,255,.8);
	border-radius: 2px;
}
.product-color li.selected { border-color: #f00 !important; }
.product-color li.selected div { display: block; }
.thread-details-options {
	min-width: 250px;
	max-width: 600px;
}
.thread-details-options td { border-bottom: 1px #fff solid; }
.thread-details-options td div { padding: 8px 0 8px 6px; }
.thread-details-options tr td:first-child {
	width: 38%;
	background: #f2f2f2;
}
/* .thread-details-options tr td:last-child { width: 62%; } */
.thread-details-options a { color: #000; }
.thread-details-options a:hover { text-decoration: underline; }
.footer-contact-content i { display: none; }
.blogs-module-name {
	margin-bottom: 15px;
	padding-bottom: 10px;
	border-bottom: 1px #999 solid;
}
.thread-details-title,
.thread-module-name,
.blogs-module-name { font-size: 18px; }
.page-details-title,
.blog-details-title { font-size: 23px; }
.thread-details-title,
.thread-details-title a,
.blog-details-title,
.blog-details-title a,
.page-details-title,
.page-details-title a,
.thread-module-name,
.thread-module-name a,
.blogs-module-name,
.blogs-module-name a { color: #333; }
.footer-social { text-align: center; }
.footer-social li {
	background: #666;
	float: left;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	margin: 0 10px 10px 0;
}
/*
li.footer-social-fb { background-color: #3A589B; }
li.footer-social-tw { background-color: #25AAE1; }
li.footer-social-yt { background-color: #CA3737; }
li.footer-social-gg { background-color: #DE4B39; }
li.footer-social-it { background-color: #ec4938; }
*/
.footer-social a {
	font-size: 20px;
	color: #fff;
	display: block;
}
.footer-social a:hover { opacity: .6; }
.footer-social a span { display: none; }
.show_count_cart { font-style: normal; }
.show_count_cart:before,
.show_count_cart:after { }
.show_count_cart:before { content: "("; }
.show_count_cart:after { content: ")"; }
.jEBE_slider-child-thumbnail {
	overflow: hidden;
	margin: 15px 0;
}
.jEBE_slider-scroll-thumbnail {
	width: 90%;
	margin: 15px auto;
	position: relative;/* overflow: hidden; *//*
	overflow-y: hidden;
	overflow-x: scroll;
	*/
}
.jEBE_slider-scroll-thumbnail ul {
	position: absolute;
	-moz-transition: all 0.8s ease;
	-o-transition: all 0.8s ease;
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
	left: 0;
}
.jEBE_slider-child-thumbnail li {
	display: block;
	float: left;
}
.jEBE_slider-child-thumbnail li div {
	width: auto !important;
	background-size: auto 98%;
}
.jEBE_slider-arrow-thumbnail { position: relative; }
.jEBE_slider-left-thumbnail,
.jEBE_slider-right-thumbnail {
	position: absolute;
	font-size: 40px;
	width: 5%;
	top: 0;
	cursor: pointer;
}
.jEBE_slider-left-thumbnail { left: 0; }
.jEBE_slider-right-thumbnail {
	right: 0;
	text-align: right;
}
/*
.thread-details-tags { margin: 19px 0; }
.thread-details-tags a,
.thread-list-tags a { display: inline-block; }
*/
.thread-details-tags a:after,
.thread-list-options a:after,
.thread-list-tags a:after { content: ", "; }
.thread-details-tags a:last-child:after,
.thread-list-options a:last-child:after,
.thread-list-tags a:last-child:after { display: none; }
.thread-list-status1,
.thread-list-status2,
.thread-list-status6 {
	position: absolute;
	z-index: 2;
	display: none;
}
.thread-list-status6 {
	background: url(../images-global/golden_time.png) center no-repeat;
	background-size: 100% auto;
	width: 90px;
	height: 90px;
	padding: 0;
	top: -2px;
	left: -2px;
}
.thread-list li[data-status="1"] .thread-list-status1,
.thread-list li[data-status="2"] .thread-list-status2,
.thread-list li[data-status="6"] .thread-list-status6 { display: inline-block !important; }
.show-if-site-demo { display: none; }
.golden_time-page { padding-bottom: 50px; }
.golden_time-page .home-hot-bg {
	background: none;
	padding: 0;
}
.global-details-countdown {
	color: #fff;
	font-weight: bold;
	font-size: 35px;
	margin-bottom: 10px;
}
.global-details-countdown span {
	display: inline-block;
	text-align: center;
	padding: 5px 10px;
	background: #666;
	margin-right: 3px;
	line-height: 40px;
}
.global-details-countdown em {
	display: block;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
}
.tem-chinh-hang {
	background: url(../images-global/tem-chinh-hang.png) center no-repeat;
	background-size: auto 100%;
	height: 168px;
	margin: 15px 0;
}
/* tạo menu kiểu cha con mặc định cho phần footer, chỉ cần có sub-menu là có mẫu menu cha con luôn */
.sub-footer-menu li {
	/*
	font-size: 16px;
	padding: 6px 0;
	*/
	float: left;
	width: 100%;
}
/*
.sub-footer-menu .sub-menu {
	list-style: inside;
	padding-top: 8px;
}
*/
.sub-footer-menu .sub-menu li {
	/*
	padding: 4px 0;
	font-size: 13px;
	*/
	float: none;
	width: auto;
}
/* mã nhúng của google adword tạo ra một khoảng trống ở vị trí nó được đặt, thêm style để làm mất khoảng trống này đi */
iframe[name="google_conversion_frame"] {
	position: absolute;
	left: -999px;
}
/* trang chi tiết dùng chung */
.details-other-title {
	/* border-bottom: 3px #EBEBEB solid; */
	position: relative;
	line-height: 45px;
	font-size: 14pt;
	border-bottom: 3px #ccc solid;
}
.details-other-title,
.details-other-title a { color: #333; }
.details-other-title:before {
	position: absolute;
	width: 250px;
	border: 0 none;
	border-bottom: 3px #e74c0c solid;
	bottom: -3px;
	left: 0;
	height: 3px;
	padding: 0;
	margin: 0;
	content: "";
}
.thread-list-filter {
	border-bottom: 2px #333 solid;
	line-height: 35px;
	color: #fff;
	text-transform: uppercase;
}
.thread-list-filter div {
	background: #333;
	padding: 0 20px;
}
/* */
.quick-register-left {
	float: left;
	width: 100%;
}
/* */
.div-search.active .span-search-icon .fa-search:before { content: "\f00d"; }
/* */
.thread-details-tab {
	line-height: 35px;
	border-bottom: 2px #333 solid;
	margin-bottom: 19px;
}
.thread-details-tab,
.thread-details-tab a { color: #333; }
.thread-details-tab li {
	float: left;
	padding: 0 32px;
	cursor: pointer;
	background: #f2f2f2;
	margin: 0 1px 1px 0;
}
.thread-details-tab li.selected {
	background-color: #333;
	color: #fff;
}
.style-for-mobile .thread-details-tab li {
	float: none;
	text-align: center;
	padding: 0;
	margin: 0 0 1px 0;
}
.eball-category-icon,
.eball-category-count { display: none; }
.eball-category-icon {
	background: left no-repeat;
	background-size: auto 100%;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 5px;
}
.eball-category-icon:before { content: " "; }
.fa-icons {
	color: #090;
	width: 16px;
	height: 16px;
	font-size: 15px;
	border: 1px transparent solid;
	padding: 1px;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
}
.fa-icons:hover { border-color: #f00; }
.web-mobile-logo {
	line-height: 45px;
	background: center no-repeat;
	background-size: auto 99%;
}
.hide-blogs-title .echbay-blog-title,
.hide-blogs-description .echbay-blog-gioithieu,
.hide-blogs-info .echbay-blog-infos,
.hide-widget-title .thread-home-c2,
.hide-widget-title .echbay-widget-title { display: none; }
.echbay-blog-avt.auto-size,
.ti-le-global.auto-size {
	overflow: hidden;
	line-height: normal;
	height: auto;
}
.echbay-blog-avt.auto-size { background: none; }
.echbay-tintuc-gioithieu {
	margin: 15px 0;
	font-size: 15px;
	color: #5f5f5f;
	line-height: 19px;
}
.clone-show-quick-cart {
	max-width: 550px;
	margin: 0 auto;
}
.eb-view-history .home-hot-title,
.eb-same-price .home-hot-title { padding-left: 0; }
.eb-view-history .home-hot-bg,
.eb-same-price .home-hot-bg { background: none; }
.fb-comments {
	background: #fff;
	width: 99.8%;
}
.add-to-favorite.selected i.fa-heart-o:before { content: "\f004"; }
/* quick view */
/*
.ebe-quick-view,
.ebe-quick-view .quick-view-padding { }
*/
/* css for ajax quick view */
.ebe-quick-view {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.3);
	z-index: 999;
	overflow: auto;
	display: none;
}
.ebe-quick-view .quick-view-margin {
	margin-top: 25px;
	margin-bottom: 25px;
}
.ebe-quick-view .quick-view-padding {
	border: 1px #f2f2f2 solid;
	box-shadow: 0 0 20px #333;
	max-width: 1366px;
	margin: 0 auto;
	padding: 25px;
	background: #fff;
}
.css-for-quickview .thread-list,
.css-for-quickview .hide-if-quickview,
.ebe-quick-view .thread-list,
.ebe-quick-view .hide-if-quickview { display: none; }
.ebe-quick-view .quick-view-close { position: relative; }
.ebe-quick-view .quick-view-close i {
	position: absolute;
	background: #111;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	font-size: 18px;
	right: -15px;
	top: -15px;
	box-shadow: 0 0 10px #000;
}
.style-for-mobile .ebe-quick-view { padding: 10px 0; }
.style-for-mobile .ebe-quick-view .quick-view-padding { padding: 1px; }
/* css for iframe quick view */
.css-for-quickview .fullsize-if-quickview {
	width: auto !important;
	margin: 0 0 0 auto;
}
/*
.css-for-quickview .fullsize-if-mobile,
*/
.css-for-quickview .fullsize-if-quickview { float: none; }
/*
#oi_ebe_quick_view {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
*/
/* post index */
.thread-details-index {
	background: #f5f5f6;
	padding: 10px 35px 10px 15px;
	display: inline-block;
}
.thread-details-index ul {
	list-style: inherit;
	padding-left: 15px;
}
.thread-details-index li {
	margin: 6px 0;
	cursor: pointer;
}
.thread-details-index li:hover { text-decoration: underline; }
.footer-address-address p { margin: 0; }
