.home-hot-title .fa-dollar,
.home-hot-title .fa-star {
	display: inline-block;
	width: 28px;
	background: #fff;
	border-radius: 50%;
	color: #7ec400;
	border: 1px #7ec400 solid;
	line-height: 28px;
}
.home-module_content {
	padding: 25px 0;
	border-bottom: 1px #ccc solid;
}
.home_default-title {
	font-size: 25px;
	font-weight: normal;
	margin: 15px 0;
}
.home_default-catgory { margin-bottom: 25px; }
.home_default-catgory li {
	display: inline-block;
	margin: 5px;
}
.home_default-catgory h2 { font-weight: normal; }
.home_default-catgory a { color: #555; }
