
/*
* style for mobile
*/
@media screen and (max-width:775px) {
body {
	min-width: 250px;
	/* padding: 0 1px; */
	margin-top: 45px;
}
/* global mobile */
.w90,
.w99,
/* .global-w99, */
.fullsize-if-mobile {
	width: 100% !important;
	margin: 0 0 0 auto;
	max-width: 999px;
}
.fullsize-if-mobile { float: none; }
.w90,
/* .global-w99, */
.w99 { min-width: 250px; }
.hide-if-mobile { display: none !important; }
.show-if-mobile { display: block !important; }
.right-menu-space { padding-right: 0; }
.left-menu-space { padding-left: 0; }
.mobile-zero-margin,
.echbay-blog,
.thread-list { margin: 0 !important; }
.thread-list li { width: 50%; }
/* fix search mobile */
/*
.div-search-margin {
	margin-top: 0;
	position: fixed;
	top: 45px;
	left: 0;
	right: 0;
	padding: 5px 0;
	background: rgba( 0, 0, 0, .8 );
	z-index: 99;
	border-bottom: 1px #666 solid;
	display: none;
}
.div-search-margin .div-search {
	background: #fff;
	width: 95%;
	margin: 0 auto !important;
	border: 0 none;
	border-radius: 10px;
}
.div-search-margin input[type=search] { color: #333; }
.show-search-mobile .div-search-margin { display: block; }
*/
/* mobile menu */
.menu-for-mobile {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}
.menu-mobile-nav,
.menu-mobile-top,
.height-for-mobile { background: rgba( 0, 0, 0, .9 ); }
.menu-mobile-top /*,
.height-for-mobile */ {
	padding: 0 15px;
	line-height: 45px;
}
.height-for-mobile { display: none; }
.menu-mobile-top,
.menu-mobile-top a {
	font-size: 35px;
	color: #fff;
}
.menu-mobile-top a { display: block; }
.menu-mobile-nav {
	line-height: 35px;
	display: none;
	border-top: 1px #000 solid;
	border-bottom: 1px #000 solid;
	overflow: auto;
}
.menu-mobile-nav,
.menu-mobile-nav a { color: #fff; }
#nav_mobile_top a {
	display: block;
	padding: 0 20px;
	font-size: 14px;
	line-height: 40px;
}
#nav_mobile_top li { border-bottom: 1px #515151 solid; }
#nav_mobile_top li li {
	background: rgba(77, 77, 64, .7);
	border: 0 none;
	line-height: 30px;
}
#nav_mobile_top li li a {
	display: block;
	color: #ccc;
	padding: 0 0 0 30px;
	font-size: 12px;
	border-bottom: 1px #4d4d40 solid;
}
.mobile_member_func a { margin: 0 10px; }
.menu-mobile-search {
	position: relative;
	padding: 10px 15px;
}
.menu-mobile-search i {
	position: absolute;
	right: 30px;
	color: #000;
	font-size: 25px;
	cursor: pointer;
}
.menu-mobile-search input[type=text] {
	width: 98%;
	padding: 8px 1px;
	border: 1px #999 solid;
	border-radius: 2px;
	background: #fff;
}
/* touch mobile */
.home-video-scroll { overflow: auto; }
.home-video-scroll ul {
	width: 250%;
	max-width: 900px;
}
.cart-table-free div { margin: 5px 0 !important; }
.cart-ultable li div.f25,
.cart-ultable li div.f75 { width: 100%; }
/* other style mobile */
#oi_scroll_top {
	height: 44px;
	line-height: 44px;
	bottom: 0 !important;
	right: auto;
	left: 5%;
	border-radius: 8px 8px 0 0;
}
.big-banner-button ul {
	position: inherit;
	top: 0;
	margin: 15px 0;
}
.big-banner-button li.selected { color: #C00; }
.banner-chan-trang li { width: 99%; }
.global-right-space {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.echbay-blog-left { width: 100% !important; }
.echbay-blog-right { width: 100% !important; }
.echbay-blog-right .echbay-blog-marginleft {
	padding-left: 0 !important;
	padding-top: 8px !important;
}
#main-content,
.mobile-padding { padding: 0 5px; }
.thread_list_menu_noidung .custom-width-cats-sidebar { display: none; }
}
