.click-order-thread[data-val="1"] { color: #F90; }
/* .maxwidth-quick-add-taxonomy { max-width: 600px; } */
.list-edit-taxonomy blockquote {
	font-size: 18px;
	padding-left: 15px;
	margin-left: 0;
	border-left: 1px #999 solid;
}
.list-edit-taxonomy blockquote blockquote {
	font-size: 85%;
	padding-left: 30px;
	border-left: 0;
}
