/* mặc định là ẩn hết các nút quick action */
.class-for-post-type .fa-icons { display: none; }
/* hiển thị các nút mà post type nào cũng sẽ dùng */
.class-for-post-type .fa-refresh,
.class-for-post-type .fa-arrow-circle-up,
.class-for-post-type .fa-arrow-circle-down,
.class-for-post-type .fa-unlock,
.class-for-post-type .fa-lock { display: inline-block; }
/*
.click-order-thread.fa-comments,
.click-order-thread.fa-link,
*/
.click-order-thread.fa-star[data-val="1"] { color: #F90; }
.click-order-thread.fa-comments[data-val="closed"],
.click-order-thread.fa-link[data-val="closed"],
.click-order-thread.fa-paw[data-val="1"],
.click-order-thread.fa-diamond[data-val="0"],
.click-order-thread.fa-star { color: #333; }
.click-order-thread.fa-diamond[data-val="1"] { color: #F90; }
.quick-show2-if-post,
.quick-show-if-post { display: none !important; }
/* một số nút chỉ hiển thị với post type cụ thể */
.class-for-post .fa-dot-circle,
.class-for-blog .fa-dot-circle,
.class-for-post .quick-show-if-post,
.class-for-blog .fa-comments,
.class-for-blog .fa-link,
.class-for-blog .fa-paw,
.class-for-post .fa-star,
.class-for-post .fa-comments,
.class-for-post .fa-link,
.class-for-post .fa-paw,
.class-for-post .fa-diamond { display: inline-block !important; }
.class-for-post .quick-show2-if-post { display: block !important; }
/*
.class-for-post .quick-show-if-paw,
.class-for-blog .quick-show-if-paw { display: inline-block !important; }
*/
.admin-products_post-category { margin-bottom: 15px; }
.admin-products_post-category li {
	float: left;
	margin: 5px 20px 5px 0;
}
.admin-products_post-category a:before { content: "- "; }
.table-list input[type="number"].s { width: 70px; }
/* multi edit tool */

.thread-edit-tools { padding: 0 0 15px 6px; }
.thread-edit-tools button {
	border: #d3d3d3 1px solid;
	background: #f8f8f8;
	color: #333;
	display: inline-block;
	height: 28px;
	padding: 0 10px;
	margin-left: 10px;
	outline: 0;
	font-weight: 500;
	font-size: 11px;
	text-decoration: none;
	white-space: nowrap;
	word-wrap: normal;
	line-height: normal;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
.thread-multi-checkbox { cursor: pointer; }
.thread-multi-edit { padding: 20px 0; }
.thread-multi-input input[type=text] {
	padding: 6px;
	width: 250px;
}
.thread-multi-edit button:hover { background-color: #f2f2f2; }
.click-quick-edit-price:hover span,
.click-quick-edit-price:hover strong { text-decoration: underline; }
#frm_quick_edit_price { display: none; }
#frm_quick_edit_price .edit-price-padding {
	box-shadow: 0 0 20px #ccc;
	position: fixed;
	top: 10%;
	left: 35%;
	background: #fff;
	padding: 15px 20px;
	border: 1px #ccc solid;
	width: 90%;
	max-width: 470px;
}
#frm_quick_edit_price .small { line-height: 14px; }
#frm_quick_edit_price div.cf { padding: 8px 0; }
#frm_quick_edit_price input[type="text"] {
	width: 80%;
	padding: 4px 6px;
}
