.echbay-blog10 li,
.thread-list10 li { width: 10%; }
.echbay-blog11 li,
.thread-list11 li { width: 11.11%; }
.echbay-blog12 li,
.thread-list12 li { width: 12.5%; }
.echbay-blog14 li,
.thread-list14 li { width: 14.28%; }
.echbay-blog16 li,
.thread-list16 li { width: 16.666%; }
.echbay-blog20 li,
.thread-list20 li { width: 20%; }
.echbay-blog25 li,
.thread-list25 li { width: 25%; }
.echbay-blog33 li,
.thread-list33 li { width: 33.33%; }
.echbay-blog50 li,
.thread-list50 li { width: 50%; }
.echbay-blog100,
.thread-list100,
.echbay-blog100 .echbay-blog-padding,
.echbay-blog100 .thread-list-padding,
.thread-list100 .echbay-blog-padding,
.thread-list100 .thread-list-padding {
	margin-left: 0;
	margin-right: 0;
}
.echbay-blog100 li,
.thread-list100 li { width: 100%; }
/* tùy chỉnh một số kích thước khác */
.echbay-blog-number1 li { margin: 0; }
/* trên mobile thì chỉnh cái đống này về kích thước mới */
/*
.style-for-mobile .echbay-blog100 li,
.style-for-mobile .thread-list100 li,
.style-for-mobile .echbay-blog10 li,
.style-for-mobile .thread-list10 li,
.style-for-mobile .echbay-blog16 li,
.style-for-mobile .thread-list16 li,
.style-for-mobile .echbay-blog25 li,
.style-for-mobile .thread-list25 li,
.style-for-mobile .echbay-blog20 li,
.style-for-mobile .thread-list20 li,
.style-for-mobile .echbay-blog33 li,
.style-for-mobile .thread-list33 li,
*/
.style-for-mobile .echbay-blog li,
.style-for-mobile .thread-list li { width: 50%; }
/*
.style-for-mobile .thread-small-left,
.style-for-mobile .thread-small-right,
*/
/* nếu chỉ có 1 cột -> cùng chỉnh về 100% */
.style-for-mobile .echbay-blog-number1 .echbay-blog li,
.style-for-mobile .echbay-blog-number1 .thread-list li,
/*
.style-for-mobile .echbay-blog100 li,
.style-for-mobile .thread-list100 li,
*/
/* chỉnh li đầu tiên của một số trường hợp bị lẻ số cột */
.style-for-mobile .echbay-blog20 li:first-child,
.style-for-mobile .thread-list20 li:first-child,
.style-for-mobile .echbay-blog33 li:first-child,
.style-for-mobile .thread-list33 li:first-child { width: 100%; }
.style-for-mobile .echbay-blog-number1 .echbay-blog li,
.style-for-mobile .echbay-blog-number1 .thread-list li { float: none; }
.style-for-mobile .echbay-blog100 .echbay-blog-padding,
.style-for-mobile .echbay-blog100 .thread-list-padding,
.style-for-mobile .thread-list100 .echbay-blog-padding,
.style-for-mobile .thread-list100 .thread-list-padding {
	margin-left: 3px;
	margin-right: 3px;
}
/* .style-for-mobile .thread-small-right .echbay-blog-marginleft { padding: 10px 0 0 0; } */
/*
.style-for-table .echbay-blog li,
.style-for-table .thread-list li { width: 33.33%; }
*/
