.echbay-blog10 li,
.thread-list10 li { width: 10%; }
.echbay-blog16 li,
.thread-list16 li { width: 16.666%; }
.echbay-blog20 li,
.thread-list20 li { width: 20%; }
.echbay-blog25 li,
.thread-list25 li { width: 25%; }
.echbay-blog33 li,
.thread-list33 li { width: 33.33%; }
.echbay-blog50 li,
.thread-list50 li { width: 50%; }
.echbay-blog100 li,
.thread-list100 li { width: 100%; }
