.top-top-login {
	line-height: 55px;
	height: 55px;
	overflow: hidden;
	font-size: 15px;
}
.top-top-login,
.top-top-login a { color: #adb2bc; }
.top-top-login ul { }
.top-top-login li {
	float: left;
	margin-left: 25px;
}
.top-top-ul ul { float: left; }
#oi_member_func a { margin-left: 15px; }
#oi_member_func a:first-child { }
.web-top-logo { padding: 10px 0; }
.web-logo {
	line-height: 77px;
	background: left no-repeat;
	background-size: auto 80%;
}
.div-search-margin { margin-top: 20px; }
.div-search { border-width: 2px; }
.div-search form { padding-left: 6px }
.div-search input[type=search],
.div-search button {
	border: 0 none;
	outline: none;
}
.div-search input[type=search] {
	background: none;
	height: 36px;
	width: 85%;
}
.div-search button {
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	font-size: 20px;
	color: #fff;
	width: 68px;
}
.div-search:hover { background-color: #fff; }
.nav-mobile-hotline {
	line-height: 38px;
	font-size: 25px;
	margin-top: 20px;
}
.nav-about { font-size: 14px; }
.nav-about li {
	float: left;
	position: relative;
}
.nav-about a {
	display: block;
	padding: 0 15px;
	color: #fff;
}
.nav-about a:hover { background: rgba( 255, 255, 255, .2 ); }
.nav-about .sub-menu {
	display: none;
	position: absolute;
	background: #fff;
	line-height: 19px;
	min-width: 200px;
	z-index: 1;
	font-size: 13px;
}
.nav-about li:hover .sub-menu { display: block; }
.nav-about .sub-menu .sub-menu { display: none !important; }
.nav-about .sub-menu li { float: none; }
.nav-about .sub-menu a {
	color: #000;
	padding: 5px 15px;
}
.nav-about .sub-menu a:hover { background: rgba( 0, 0, 0, .2 ); }
#nav {
	text-transform: uppercase;
	text-align: center;
}
#nav li {
	position: relative;
	background: #000;
	font-size: 15px;
}
#nav li i.fa-bars {
	position: absolute;
	right: 11px;
	font-size: 16px;
}
#nav a {
	color: #fff;
	display: block;
	padding: 0 15px;
}
/*
#nav a:hover {
	background-color: #fff;
	color: #333;
}
*/
#nav .sub-menu {
	position: absolute;
	left: 0;
	right: 0;
	display: none;
	z-index: 99;
	text-transform: none;
	line-height: 19px;
	background: rgba(255, 255, 255, .68);
	padding: 5px 5px 0 0;
	text-align: left;
}
#nav .sub-menu li {
	background: #fff;
	border-right: 5px #f40 solid;
	line-height: 35px;
	position: initial;
}
#nav .sub-menu li:last-child { border-bottom: 5px #f40 solid; }
#nav .sub-menu li:hover { background-color: #f40; }
#nav .sub-menu .sub-menu li:hover { background-color: #fff; }
#nav .sub-menu li:hover a { color: #fff; }
#nav .sub-menu li:hover .sub-menu a { color: #666; }
#nav .sub-menu li .sub-menu a:hover { color: #f40; }
#nav .sub-menu a {
	color: #000;
	background: none;
}
#nav .sub-menu .sub-menu {
	left: 97%;
	width: 100%;
	top: 5px;
	bottom: 0;
	background: #fff;
	display: none !important;
	border: 1px #f40 solid;
	border-left: 0 none;
}
#nav .sub-menu .sub-menu li {
	/*
	display: inline-block;
	width: 26%;
	*/
	border: 0 none;
	font-size: 13px;
	line-height: 30px;
}
#nav .sub-menu a { }
#nav li:hover .sub-menu { display: block; }
#nav .sub-menu li:hover .sub-menu { display: block !important; }
.top-nav { line-height: 40px; }
.ebfixed-top-menu .top-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
}
.ebfixed-top-menu .show-if-scroll { display: block; }
