urlset,
sitemapindex {
	display: block;
	width: 90%;
	min-width: 999px;
	max-width: 1366px;
	margin: 10px auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
}
url,
sitemap {
	display: block;
	overflow: auto;
	padding: 5px;
	word-wrap: break-word;
}
url:nth-child(2n+1),
sitemap:nth-child(2n+1) { background: #f8f8f8; }
loc {
	display: inline-block;
	width: 75%;
}
lastmod {
	display: inline-block;
	width: 24%;
	text-align: right;
}
changefreq,
priority { display: none; }
image { display: block; }
image loc,
image title,
image caption,
image geo_location { display: inline-block; }
image loc,
image caption { width: 51%; }
image title,
image geo_location { width: 48%; }
loc:hover {
	text-decoration: underline;
	cursor: pointer;
}

@media screen and (max-width: 960px) {
urlset,
sitemapindex { font-size: 12px; }
loc,
lastmod {
	max-width: 100%;
	width: 100%;
	float: left;
}
}

@media screen and (max-device-width: 500px) {
urlset,
sitemapindex { zoom: 2; }
loc,
lastmod {
	max-width: 100%;
	width: 100%;
	float: left;
}
}
