.thread-list-padding {
	background: #fff;
	margin: 0 10px 20px 10px;
	border: 1px #ccc solid;
	position: relative;
}
.thread-list-padding:hover { border-color: #999; }
.thread-list-padding:hover .thread-list-title { color: #ef672f; }
.thread-logo-giamgia {
	position: absolute;
	overflow: hidden;
	height: 70px;
	width: 70px;
	top: 8px;
	left: 8px;
}
.thread-logo-giamgia div {
	background: #F75833;
	position: absolute;
	top: -10px;
	left: -35px;
	width: 100px;
	line-height: 30px;
	padding-top: 20px;
	text-align: center;
	z-index: 88;
	color: #fff;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	font-size: 18px;
}
.thread-list-avt {
	background: #fff center no-repeat;
	background-size: auto 100%;
	overflow: hidden;
	height: 180px;
	line-height: 180px;
	margin: 8px 8px 0 8px;
}
.thread-list-title {
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	margin: 8px 0;
	font-weight: normal;
	font-size: 14px;
	color: #333;
}
.thread-list-gia { line-height: 25px; }
.thread-list-gia span {
	display: inline-block;
	margin: 0 5px;
}
.thread-list-giamoi {
	font-size: 16px;
	color: #f00;
	font-weight: bold;
}
.thread-list-giacu { font-size: 14px; }
.thread-list-giacu strong {
	color: #666;
	font-weight: normal;
}
.thread-list-xem {
	line-height: 25px;
	padding: 3px 0;
	display: none;
}
.thread-list-mua,
.thread-list-more {
	display: block;
	margin: 0 3px;
	border: 1px #999 dashed;
}
.thread-list-mua { border-style: solid; }
.thread-list-more { color: #000; }
