#echbaytwo-footer2 .site-footer-inner {
	font-size: 13px;
	padding-top: 70px;
	background: #666;
}
#echbaytwo-footer2 .site-footer-inner,
#echbaytwo-footer2 .site-footer-inner a { color: #fff; }
#echbaytwo-footer2 .footer-title {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 16px;
	position: relative;
	padding-bottom: 12px;
}
#echbaytwo-footer2 .footer-title:before {
	position: absolute;
	border-bottom: 1px solid #bfa733;
	left: 0;
	width: 100px;
	content: "";
	bottom: 0;
}
#echbaytwo-footer2 .bottom-node li { margin-bottom: 8px; }
#echbaytwo-footer2 .bottom-node a,
#echbaytwo-footer2 .bottom-contact a,
#echbaytwo-footer2 .bottom-nav a { }
#echbaytwo-footer2 .bottom-node a:before,
#echbaytwo-footer2 .bottom-contact a:before {
	content: "\f0da";
	font-family: FontAwesome;
	color: #f90;
	display: inline-block;
	margin-right: 5px;
}
#echbaytwo-footer2 .bottom-contact li {
	margin-bottom: 6px;
	line-height: 19px;
}
#echbaytwo-footer2 .bottom-nav li { display: inline-block; }
#echbaytwo-footer2 hr.one-line {
	height: 1px;
	padding: 0;
	margin: 5px 0;
	border: 0 none;
	border-bottom: 1px #ccc solid;
}
#echbaytwo-footer2 hr.orgborder { border-color: #F90; }
#echbaytwo-footer2 .footer-social li { background: #fff; }
#echbaytwo-footer2 .footer-social a { color: #666; }
