.nav-mobile-hotline {
	line-height: 38px;
	font-size: 25px;
	margin-top: 20px;
}
.div-search-margin { margin-top: 20px; }
.div-search { border-width: 2px; }
.div-search form { padding-left: 6px }
.div-search input[type=search],
.div-search button {
	border: 0 none;
	outline: none;
}
.div-search input[type=search] {
	background: none;
	height: 36px;
	width: 85%;
}
.div-search button {
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	font-size: 20px;
	color: #fff;
	width: 68px;
}
.div-search:hover { background-color: #fff; }
.web-logo {
	line-height: 77px;
	background: left no-repeat;
	background-size: auto 80%;
}
.web-top-logo { padding: 10px 0; }
