.footer-pading {
	padding: 35px 0;
	background: #666;
}
.footer-pading,
.footer-pading a { color: #fff; }
.footer-pading a:hover {
	color: #f2f2f2;
	text-decoration: underline;
}
.footer-title,
.footer-contact-title {
	margin-bottom: 10px;
	font-size: 16px;
}
.footer-contact-title { text-transform: uppercase; }
.footer-contact {
	line-height: 19px;
	margin-bottom: 15px;
	font-size: 14px;
}
.footer-contact li {
	margin-bottom: 10px;
	position: relative;
	padding-left: 21px;
}
.footer-contact li i {
	position: absolute;
	left: 0;
	top: 0;
}
.footer-contact-content strong { display: none; }
.footer-contact-content i { display: inline-block; }
/*
.footer-title:before {
	position: absolute;
	border-bottom: 1px solid #bfa733;
	left: 0;
	width: 100px;
	content: "";
	bottom: 0;
}
*/
.bottom-node { font-size: 14px; }
.bottom-node li,
.bottom-contact li { margin-bottom: 10px; }
.bottom-node li { list-style: inside; }
.bottom-node a,
.bottom-contact a,
.bottom-nav a { }
/* .bottom-node a:before, */
.bottom-contact a:before {
	content: "\f0da";
	font-family: FontAwesome;
	color: #f90;
	display: inline-block;
	margin-right: 5px;
}
hr.one-line {
	height: 1px;
	padding: 0;
	margin: 5px 0;
	border: 0 none;
	border-bottom: 1px #ccc solid;
}
hr.orgborder { border-color: #F90; }
.bottom-nav li { display: inline-block; }
.footer-social li { background: #fff; }
.footer-social a { color: #666; }
.footer-social a:hover {
	color: #000;
	text-decoration: none
}
.footer-social-title {
	font-size: 12px;
	margin-bottom: 5px;
}
