.footer-title,
.footer-contact-title {
	margin-bottom: 10px;
	font-size: 16px;
	color: #fff;
}
.footer-contact li {
	margin-bottom: 10px;
	position: relative;
	padding-left: 15px;
}
.footer-contact li i {
	position: absolute;
	left: 0;
	top: 0;
}
