#vicwatch-top1 .web-top-logo {
	background: #bbb2a6;
	line-height: 30px;
	padding: 8px 0;
}
#vicwatch-top1 .web-top-logo,
#vicwatch-top1 .web-top-logo a { color: #fff; }
#vicwatch-top1 .div-search-margin { }
#vicwatch-top1 .div-search {
	background: #fff;
	position: relative;
	border-radius: 5px;
}
#vicwatch-top1 .div-search form { padding-left: 6px }
#vicwatch-top1 .div-search input[type=search],
#vicwatch-top1 .div-search button {
	background: none;
	border: 0 none;
	outline: none;
}
#vicwatch-top1 .div-search input[type=search] {
	height: 28px;
	width: 85%;
}
#vicwatch-top1 .div-search button {
	color: #bbb2a6;
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 20%;
	max-width: 30px;
}
