#vicwatch-top3 .nav-menu {
	line-height: 30px;
	position: relative;
	text-align: center;
}
#vicwatch-top3 .nav-menu li {
	display: inline-block;
	border-right: 1px #bbb2a6 solid;
	padding: 20px 0 10px 0;
}
#vicwatch-top3 .nav-menu li:first-child { border-left: 1px #bbb2a6 solid; }
#vicwatch-top3 .nav-menu a {
	display: block;
	color: #333;
	font-size: 14px;
	margin: 0 20px;
	text-transform: uppercase;
	border-bottom: 2px transparent solid;
}
#vicwatch-top3 .nav-menu .sub-menu {
	position: absolute;
	left: 0;
	right: 0;
	background: #efecea;
	border: 1px #f00 solid;
	z-index: 10;
	display: none;
	border: 1px solid #D7CFCD;
	padding: 20px 50px;
	margin: 9px 0 0 -1px;
	text-align: left;
}
#vicwatch-top3 .nav-menu li:hover .sub-menu { display: block; }
#vicwatch-top3 .nav-menu .sub-menu li {
	width: 25%;
	border: 0 none;
	padding: 0;
	float: left;
}
#vicwatch-top3 .nav-menu .sub-menu a { display: inline-block; }
#vicwatch-top3 .nav-menu .sub-menu .sub-menu {
	position: relative;
	border: 0 none;
}
#vicwatch-top3 .nav-menu .sub-menu .sub-menu li {
	width: 99%;
	padding: 0;
}
#vicwatch-top3 .nav-menu .sub-menu .sub-menu a { text-transform: none; }
#vicwatch-top3 .nav-menu a:hover { border-bottom: 2px solid #e4d19e; }
