.thread-list { margin: 0 -6px; }
.thread-list li { width: 33.33%; }
.thread-list-padding {
	margin: 0 6px 20px 6px;
	padding: 0 0 20px 0;
}
/*
.thread-list-padding:hover {
	border-color: #ccc;
	-webkit-box-shadow: 0 3pt 3pt #ccc;
	-moz-box-shadow: 0 3pt 3pt #ccc;
	box-shadow: 3pt 3pt 3pt #ccc;
}
*/
.thread-list-avt {
	background: center no-repeat;
	background-size: auto 90%;
	height: 220px;
}
.thread-list-padding:hover .thread-list-avt {
	background-size: auto 100%;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.thread-list-per {
	position: absolute;
	top: 8px;
	left: 8px;
	border: #da1818 thin solid;
	padding: 0 7px;
	border-radius: 5px;
	background: rgba(  255, 255, 255, .8 );
	color: #da1818;
	line-height: 28px;
	font-size: 14px;
}
.thread-list-mobilebg { position: relative; }
.thread-list-msp {
	height: 30px;
	overflow: hidden;
}
.thread-list-title {
	margin: 5px 0;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}
.thread-list-gia { margin-top: 10px; }
.thread-list-gia span { margin: 0 3px; }
.thread-list-views a:hover {
	background: #fff;
	border-color: #999;
	color: #333;
}
.thread-list-booking,
.thread-list-view {
	margin: 0 auto;
	width: 92%;
	max-width: 250px;
}
.thread-list-booking a,
.thread-list-view a {
	border-radius: 5px;
	text-decoration: none;
	display: block;
	color: #fff;
	border: 1px #fff solid;
}
.thread-list-booking a { background: #63635c; }
.thread-list-view a { background: #dbb86f; }
/*
.thread-list-ant {
	position: relative !important;
	z-index: 1;
	color: #999;
}
.thread-list-ant:hover { text-decoration: underline; }
*/
