#batdongsan-top2 { }
#batdongsan-top2 .primary-menu {
	background-color: #055699;
	line-height: 29px;
	border-radius: 3px;
}
#batdongsan-top2 .primary-menu li {
	float: left;
	border-right: 1px solid #20466d;
	border-left: 1px solid #4a84b5;
}
#batdongsan-top2 .primary-menu a {
	color: #fff;
	display: block;
	padding: 0 10px;
}
#batdongsan-top2 .primary-menu .sub-menu { display: none; }
