#batdongsan-top3 { padding: 8px 0; }
#batdongsan-top3 .div-search-margin { }
#batdongsan-top3 .div-search { border: 2px #ccc solid; }
#batdongsan-top3 input[type="search"],
#batdongsan-top3 button { }
#batdongsan-top3 input[type="search"] {
	height: 30px;
	width: 90%;
	padding: 0 5px;
}
#batdongsan-top3 button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	border: 0 none;
	background: #333;
	color: #fff;
	width: 10%;
}
