#batdongsan-top1 { padding: 10px 0 5px 0; }
#batdongsan-top1 .profile-top {
	text-align: right;
	font-weight: bold;
	line-height: 20px;
	padding: 5px 0;
	font-size: 12px;
}
#batdongsan-top1 .profile-top a { color: #333; }
#batdongsan-top1 .profile-top li {
	float: left;
	margin-right: 16px;
}
