.top-header {
	background: top left repeat-x;
	background-size: auto 100%;
	border-bottom: 2px #483B38 solid;
}
.top-chinh-sach {
	line-height: 24px;
	color: #410e00;
	margin-top: 9px;
}
.top-chinh-sach li {
	float: left;
	border: 1px #fff dashed;
	margin-right: 10px;
	position: relative;
	padding: 0 10px 0 30px;
}
.top-chinh-sach i {
	position: absolute;
	left: 0;
	top: 0;
	width: 24px;
	font-size: 19px;
	text-align: center;
	background: #FCB040;
	color: #fff;
}
.div-search {
	background: #fff;
	overflow: hidden;
	border: 2px #493C39 solid !important;
	position: relative;
	padding-left: 15px;
}
.div-search,
.div-search input[type="search"],
.div-search button {
	height: 35px;
	border-radius: 1px;
}
.div-search input[type="search"],
.div-search button {
	border: 0 none;
	outline: none;
}
.div-search input[type="search"] {
	background: #fff;
	font-size: 16px;
	height: 33px;
	width: 90%;
}
.div-search button {
	cursor: pointer;
	font-size: 18px;
	border-left: 2px #493C39 solid;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 10%;
}
.div-search button:hover { color: #333; }
.btn-to-cart {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background: #363636;
	float: right;
	display: block;
	font-size: 12pt;
	color: #fff !important;
	line-height: 38px;
	height: 41px;
	overflow: hidden;
	padding: 0 20px;
	border-radius: 5px;
}
.btn-to-cart:before {
	font-size: 25px;
	position: relative;
	top: 2px;
	margin-right: 8px;
}
.btn-to-cart:hover { opacity: .8; }
.web-logo {
	background: left no-repeat;
	background-size: auto 80%;
	display: block;
	line-height: 90px;
}
