.footer-title {
	font-weight: bold;
	margin-bottom: 10px;
	color: #000;
	font-size: 16px;
}
.bottom-node a,
.bottom-contact a,
.bottom-nav a { color: #000; }
.bottom-node a:before,
.bottom-contact a:before {
	content: "\f0da";
	font-family: FontAwesome;
	color: #f90;
	display: inline-block;
	margin-right: 5px;
}
hr.one-line {
	height: 1px;
	padding: 0;
	margin: 5px 0;
	border: 0 none;
	border-bottom: 1px #ccc solid;
}
hr.orgborder { border-color: #F90; }
.bottom-nav li { display: inline-block; }
