#dumbo-top3 {
	background: #fff bottom left repeat-x;
	padding: 10px 0;
	border-bottom: 1px #ccc solid;
}
#dumbo-top3 .btn-to-cart a {
	background: #35455c;
	float: right;
	display: block;
	font-size: 12pt;
	color: #fff;
	line-height: 36px;
	height: 36px;
	overflow: hidden;
	padding: 0 20px;
	border: 1px #35455c solid;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 2px #ccc;
	-moz-box-shadow: 0 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
}
#dumbo-top3 .btn-to-cart .show_count_cart { display: inline-block; }
#dumbo-top3 .div-search {
	width: 95%;
	border-width: 2px;
	border-radius: 5px;
}
#dumbo-top3 .div-search input[type="search"],
/* #dumbo-top3 .div-search button { } */
#dumbo-top3 .div-search input[type="search"] {
	height: 35px;
	padding-left: 10px;
	width: 89%;
	border: 0 none;
}
#dumbo-top3 .div-search button {
	width: 12%;
	font-size: 20px;
	background: #35455c;
	color: #fff;
}
#dumbo-top3 .top-nav-menu { position: relative; }
#dumbo-top3 .all-category-bars {
	background: #35455c;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	display: block;
	line-height: 38px;
	border-radius: 5px;
	padding-left: 20px;
}
#dumbo-top3 .all-category-cats {
	position: absolute;
	line-height: 36px;
	-webkit-box-shadow: 0 2pt 2pt #ccc;
	-moz-box-shadow: 0 2pt 2pt #ccc;
	box-shadow: 2pt 2pt 2pt #ccc;
	z-index: 9;
	background: #fff;
	left: 0;
	right: 0;
	border: 1px #ccc solid;
	display: none;
}
#dumbo-top3 .all-category-cats ul { padding: 0 0 35px 0; }
#dumbo-top3 .all-category-cats li { }
#dumbo-top3 .all-category-cats a {
	display: block;
	border-bottom: 1px #ccc solid;
	padding: 0px 5px 0 10px;
	color: #333;
}
#dumbo-top3 .all-category-cats a:hover {
	background: #fff;
	color: #000;
	text-decoration: underline;
}
#dumbo-top3 .top-nav-menu:hover .all-category-cats { display: block; }
