/* Global css (thread_node) */
.thread-list { margin: 0 -10px; }
.thread-list-padding {
	background: #fff;
	margin: 8px 10px 6px 10px;
	border: 1px #ccc solid;
	border-radius: 1px;
}
.thread-list-padding:hover { border-color: #999; }
.thread-list-per {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	z-index: 88;
	font-weight: bold;
	-webkit-box-shadow: 0 2px 2px #ccc;
	-moz-box-shadow: 0 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
}
.thread-list-avt {
	background: center no-repeat;
	background-size: auto 100%;
	height: 220px;
}
.thread-list-mobilebg { padding: 0 20px 35px 20px; }
.thread-list-title {
	height: 38px;
	line-height: 19px;
	overflow: hidden;
	margin: 8px 0 0 0;
	font-size: 14px;
	color: #333;
	font-weight: bold;
}
.thread-list-ant {
	position: relative !important;
	z-index: 1;
	color: #999;
}
.thread-list-ant:hover { text-decoration: underline; }
/* .thread-list-giamgiashow .thread-list-per, */
/*
.thread-list li[data-per="0"] .thread-list-per {
	display: block;
	z-index: 1;
}
*/
.thread-list-desc {
	height: 60px;
	overflow: hidden;
	font-size: 14px;
	color: #5d5c5c;
}
/*
.thread-list-gia,
.thread-list-giamoi { }
*/
.thread-list-gia {
	color: #ff4d98;
	font-size: 14px;
	color: #999;
}
.thread-list-gia strong { font-weight: normal; }
.thread-list-giamoi {
	color: #ff9104;
	font-size: 17px;
	font-weight: bold;
	padding: 5px 0;
}
.thread-list-msp { display: none; }
.thread-list-xem {
	background: #eee;
	border-top: 1px #ccc solid;
	line-height: 35px;
	height: 35px;
	overflow: hidden;
	text-align: center;
}
.thread-list-xem a {
	display: block;
	font-size: 15px;
	color: #666;
}
.thread-list-mua { border-right: 1px #ccc solid; }
/* for mobile */
.style-for-mobile .thread-list-padding {
	margin-left: 2px;
	margin-right: 2px;
}
.style-for-mobile .thread-list-mobilebg { padding: 0 5px 5px 5px; }
