/* hiển thị nav menu */
#echbaythree-top3 .nav .all-category-hover .all-category-cats { display: block; }
/* code riêng */
#echbaythree-home1 { padding: 10px 0 20px 0; }
#echbaythree-home1 .oi_big_banner {
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
