#echbaytwo-top1 .top-top-ul ul { float: left; }
#echbaytwo-top1 .top-top-login {
	line-height: 55px;
	height: 55px;
	overflow: hidden;
	font-size: 15px;
}
#echbaytwo-top1 .top-top-login,
#echbaytwo-top1 .top-top-login a { color: #adb2bc; }
#echbaytwo-top1 .top-top-login ul { }
#echbaytwo-top1 .top-top-login li {
	float: left;
	margin-left: 25px;
}
