#echbaythree-footer1 {
	background-image: linear-gradient(to bottom, #333333, #444444);
	padding: 20px 0 15px 0;
}
#echbaythree-footer1,
#echbaythree-footer1 a { color: #f2f2f2; }
#echbaythree-footer1 .footer-menu { }
#echbaythree-footer1 .footer-menu li {
	margin-bottom: 5px;
	font-size: 16px;
}
#echbaythree-footer1 .footer-menu a { }
#echbaythree-footer1 .footer-menu .sub-menu {
	list-style: inside;
	padding-top: 6px;
}
#echbaythree-footer1 .footer-menu .sub-menu li { font-size: 13px; }
#echbaythree-footer1 .footer-menu .sub-menu .sub-menu { display: none; }
.style-for-mobile #echbaythree-footer1 {
	padding-left: 5px;
	padding-right: 5px;
}
