/* Global css (thread_details) */
.thread-details-mua {
	border: 1px #ccc solid;
	border-top: 0 none;
}
.thread-details-muapadding {
	padding: 15px 10px;
	border-top: 1px #ccc solid;
}
.thread-details-maxmua,
.thread-details-muamax {
	border-radius: 3pt;
	-moz-border-radius: 3pt;
}
.thread-details-maxmua {
	background: #f2f2f2;
	width: 90%;
	margin: 6px auto;
	font-size: 9pt;
	padding: 1px;
	border: 1px #ccc solid;
}
.thread-details-muamax {
	background: #09F;
	width: 1px;
	color: #09F;
}
.thread-details-slogan {
	line-height: 19px;
	border-left: 2px #666 solid;
}
.thread-details-slogan li { padding: 8px 0; }
.thread-details-slogan li:first-child { padding-top: 0; }
.thread-details-slogan li:last-child { padding-bottom: 0; }
.thread-details-slogan div {
	position: relative;
	padding: 0 0 0 50px;
	min-height: 40px;
}
.thread-details-slogan i {
	position: absolute;
	left: 0;
	display: block;
	font-size: 35px;
	color: #333;
	display: block;
	line-height: 40px;
	width: 50px;
	text-align: center;
}
.thread-details-slogan span { text-transform: uppercase; }
.thread-details { box-shadow: 0 1px 3px rgba(0,0,0,.25); }
.thread-details-padding,
.thread-support-padding { padding: 20px; }
.thread-details-tomtat {
	background-color: #eff3f6;
	padding: 18px;
}
.thread-details-title {
	font-size: 18pt;
	font-weight: normal;
	padding: 3px 0;
}
.thread-details-title a { }
.thread-details-bprice {
	padding: 15px 0;
	border-top: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
}
.thread-details-label {
	color: #888;
	margin-bottom: 10px;
}
.thread-details-price {
	display: block;
	font-size: 48px;
	line-height: 48px;
	margin-bottom: 10px;
	word-wrap: break-word;
}
.thread-details-price strong { font-weight: normal; }
.thread-details-tabs {
	position: absolute;
	left: 0;
	bottom: 0;
	color: #ff0;
	line-height: 36px;
}
.thread-details-tabs li {
	border-bottom: 3px solid #d02028;
	float: left;
	background-color: #716b67;
	padding: 0 20px;
}
.thread-details-hotline {
	background: #e74c0c;
	border-radius: 20px;
	line-height: 40px;
	max-width: 300px;
	margin: 0 auto;
}
.thread-details-hotline a { display: block; }
.thread-details-gia { color: #333; }
.thread-details-gia li {
	float: left;
	padding-right: 35px;
}
.thread-details-gia .bold { font-size: 16px; }
.product-for-saleoff .thread-details-gia { display: none; }
.thread-details-comment { padding-top: 10px; }
.detail-muangay-padding {
	margin: 0 auto;
	max-width: 600px;
}
.details-mua-ngay,
.details-tu-van { display: block; }
.details-mua-ngay {
	border: 0 none;
	cursor: pointer;
	width: 100%;
	height: 50px;
}
.details-tu-van {
	background: #f2f2f2;
	border: 1px #ccc solid;
	border-radius: 3px;
	color: #000;
	padding: 5px 0;
}
.thread-details-rightpost { }
.thread-details-rightpost { }
.thread-details-rightpost .thread-list-mobilebg { padding: 0 5px 10px 5px; }
.thread-details-rightpost .hide-if-mobile { display: none; }
/* mua in bottom */
.thread-details-bottom {
	border: 1px #ccc dotted;
	padding: 20px;
}
.thread-details-buy {
	border: 0 none;
	font-size: 23px;
	padding: 10px 0;
	-webkit-box-shadow: 0 2px 2px #ccc;
	-moz-box-shadow: 0 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
}
.thread-details-buy:hover,
.thread-details-cart:hover { opacity: .8; }
.thread-details-buy,
.thread-details-cart,
.thread-details-far { width: 100%; }
