#echbaytwo-footer1 .bottom-slogan {
	background: #fafbfc;
	border-top: 2px #f40 solid;
}
#echbaytwo-footer1 .bottom-slogan ul { border-right: 1px #e5e5e5 solid; }
#echbaytwo-footer1 .bottom-slogan li {
	float: left;
	width: 25%;
	position: relative;
}
#echbaytwo-footer1 .bottom-slogan li div {
	padding: 25px 0 25px 75px;
	border-left: 1px #e5e5e5 solid;
}
#echbaytwo-footer1 .bottom-slogan i {
	position: absolute;
	left: 25px;
	font-size: 40px;
	line-height: 40px;
	color: #f40;
}
