/*
#footer { }
#footer,
#footer a { }
*/
/*
.footer-bottom {
	background-color: #a6a3a3;
	padding: 20px 0;
}
.footer-bottom, .footer-bottom a {
	color: #fff;
}
*/
#erawatch-footer2 .footer-top {
	background: #eaeaea;
	padding: 47px 0 38px 0;
}
#erawatch-footer2 .footer-contact div {
	margin-bottom: 8px;
	padding-left: 20px;
	position: relative;
}
#erawatch-footer2 .footer-contact div i {
	position: absolute;
	left: 0;
}
#erawatch-footer2 .footer-contact,
#erawatch-footer2 .footer-contact a { color: #666; }
#erawatch-footer2 .footer-about-menu { line-height: 21px; }
#erawatch-footer2 .footer-about-menu li {
	/*
	margin-bottom: 10px;
	position: relative;
	padding-left: 20px;
	*/
	border-top: 1px #ccc solid;
	padding: 7px 0;
}
#erawatch-footer2 .footer-about-menu a { color: #6e6e6e; }
/*
.footer-about-menu i {
	position: absolute;
	left: 0;
	color: #777;
}
*/
