#erawatch-footer1 { padding: 25px 0; }
#erawatch-footer1 .footer-news { font-size: 13px; }
#erawatch-footer1 .footer-news .footer-news-title {
	font-size: 18px;
	margin-bottom: 15px;
}
#erawatch-footer1 .footer-news ul {
	list-style: inside;
	margin-bottom: 20px;
}
#erawatch-footer1 .footer-news li { margin-bottom: 5px; }
#erawatch-footer1 .footer-news a { color: #333; }
#erawatch-footer1 .footer-news a:hover { text-decoration: underline; }
#erawatch-footer1 .footer-news .sub-menu { display: none; }
