.web-top-padding { background: #000; }
.web-top-padding a { color: #fff; }
.haitrieu-menu { position: relative; }
.nav-menu {
	line-height: 22px;
	text-align: center;
	font-weight: bold;
}
.nav-menu li {
	display: inline-block;
	padding: 34px 0;
}
.nav-menu a {
	display: block;
	/*
	color: #333;
	*/
	font-size: 14px;
	padding: 0 10px;
	text-transform: uppercase;
	border-bottom: 2px transparent solid;
	border-radius: 15px;
}
.nav-menu a:hover {
	background: #fff;
	color: #f00;
}
.nav-menu .sub-menu {
	position: absolute;
	background: #f2f2f2;
	z-index: 10;
	display: none;
	/*
	border: 1px solid #D7CFCD;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	*/
	padding: 5px 0;
	margin: 34px 0 0 -1px;
	text-align: left;
	min-width: 220px;
}
.nav-menu li:hover .sub-menu { display: block; }
.nav-menu .sub-menu li {
	border: 0 none;
	padding: 0;
	display: block;
	position: relative;
}
.nav-menu .sub-menu a {
	text-transform: none;
	padding: 5px 15px;
	line-height: 19px;
	margin: 0 5px;
	color: #333;
}
/*
.nav-menu .sub-menu a:before {
	content: "+";
	display: inline-block;
	margin-right: 5px;
}
*/
.nav-menu .sub-menu li .sub-menu {
	display: none;
	left: 100%;
	top: -36px;
}
.nav-menu .sub-menu li:hover .sub-menu { display: block; }
