#estyle-footer2 {
	background: #4d4d4d;
	padding: 20px 0;
	font-size: 9pt;
}
#estyle-footer2,
#estyle-footer2 a { color: #CCC; }
#estyle-footer2 .web-logo {
	line-height: 60px;
	background: center no-repeat;
	background-size: auto 99%;
}
#estyle-footer2 .footer-address { padding-left: 20px; }
#estyle-footer2 .footer-address-company {
	font-size: 120%;
	margin-bottom: 10px;
}
#estyle-footer2 .footer-address-info a { text-decoration: underline; }
