#estyle-footer1 {
	background: #333;
	padding: 20px 0;
	margin: 0;
	border-top: 1px #fff solid;
}
#estyle-footer1,
#estyle-footer1 a { color: #ccc; }
.style-for-mobile #estyle-footer1 .estyle-footer1 { padding: 0 5px 0 10px; }
#estyle-footer1 .footer-title {
	font-size: 16px;
	padding: 6px 0;
}
#estyle-footer1 .bottom-node { list-style: inside; }
#estyle-footer1 .bottom-node li { padding: 4px 0; }
#estyle-footer1 .hop-tac-voi {
	background: #090;
	display: block;
	color: #fff;
	font-weight: bold;
	font-size: 11pt;
	float: right;
	line-height: 50px;
	padding: 0 20px;
	border-radius: 15px;
}
.style-for-mobile #estyle-footer1 .hop-tac-voi {
	float: none;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
}
