#giftHouse-top1 {
	background: #e6518b url(//bizweb.dktcdn.net/100/177/134/themes/235073/assets/bg-topbar.png?1500085176602);
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #fff;
}
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
#giftHouse-top1 { }
