#giftHouse-top2 .web-logo {
	display: block;
	line-height: 90px;
	background: center no-repeat;
}
#giftHouse-top2 .nav-ngang { }
#giftHouse-top2 .nav-ngang ul {text-align:center; }
#giftHouse-top2 .nav-ngang li { display:inline-block;}
#giftHouse-top2 .nav-ngang { }
#giftHouse-top2 { }
#giftHouse-top2 { }
#giftHouse-top2 { }
#giftHouse-top2 { }
#giftHouse-top2 { }
#giftHouse-top2 { }
