.thread-list { margin: 0 -6px; }
.thread-list li { width: 20%; }
.thread-list-padding {
	background: #f0f0f0;
	margin: 8px 6px 6px 6px;
	border: 1px #f2f2f2 solid;
	border-bottom: 0 none;
}
.thread-list-padding:hover { border-color: #ccc; }
.thread-list-per {
	position: absolute;
	right: 0;
	top: 0;
}
.thread-list-per div {
	background: rgba( 249, 145, 65, .8 );
	padding: 0 15px;
	line-height: 30px;
	margin-top: 5px;
}
.thread-list-per div.upper { background: rgba(255, 0, 0, .8); }
.thread-list-status1,
.thread-list-status2,
.thread-list-status6 {
	background: rgba( 0, 153, 0, .8 );
	left: 0;
	position: absolute;
	top: 5px;
	padding: 0 15px;
	line-height: 30px;
	display: none;
	z-index: 2;
}
.thread-list-status6 {
	background: url(../../images-global/golden_time.png) center no-repeat;
	background-size: 100% auto;
	width: 90px;
	height: 90px;
	padding: 0;
	top: -2px;
	left: -2px;
}
.thread-list-avt {
	background: center no-repeat;
	background-size: 100% auto;
	height: 220px;
}
.thread-list-title { padding: 5px 0; }
.thread-list-title * {
	height: 44px;
	line-height: 22px;
	overflow: hidden;
	font-weight: normal;
	font-size: 16px;
	padding: 0 10px;
}
.thread-list-mobilebg {
	background: -webkit-linear-gradient( bottom, rgba( 0, 0, 0, .2 ), rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .01 ) );
	background: -o-linear-gradient( bottom, rgba( 0, 0, 0, .2 ), rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .01 ) );
	background: -moz-linear-gradient( bottom, rgba( 0, 0, 0, .2 ), rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .01 ) );
	background: linear-gradient( bottom, rgba( 0, 0, 0, .2 ), rgba( 0, 0, 0, .1 ), rgba( 0, 0, 0, .01 ) );
}
.thread-list-gia,
.thread-list-giamoi { padding-bottom: 5px; }
.thread-list-gia { color: #555; }
.thread-list-giamoi {
	color: #f3124e;
	font-size: 18px;
	font-weight: bold;
}
.thread-list-giamgia {
	border: 1px dotted #f84a89;
	line-height: 30px;
	color: #f84a89;
	margin-right: 2px;
	background-color: #FFE8EE;
}
.thread-list-more {
	background-color: #f84a89;
	line-height: 32px;
	color: #fff;
	margin-left: 2px;
}
/*
.thread-list-ant {
	position: relative !important;
	z-index: 1;
	color: #999;
}
.thread-list-ant:hover { text-decoration: underline; }
.thread-list-desc {
	height: 60px;
	overflow: hidden;
	font-size: 14px;
	color: #5d5c5c;
}
*/
