#mevutu-top1 {
	background: #111;
	padding: 15px 0;
}
#mevutu-top1,
#mevutu-top1 a { color: #fff; }
#mevutu-top1 .bg-tra-hang {
	float: right;
	line-height: 16px;
}
#mevutu-top1 .bg-tra-hang li {
	float: left;
	position: relative;
	padding-left: 40px;
	margin-left: 30px;
}
#mevutu-top1 .bg-tra-hang i {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 0;
	font-size: 25px;
	text-align: center;
}
#mevutu-top1 .btn-to-cart { line-height: 31px; }
#mevutu-top1 .btn-to-cart a {
	display: inline-block;
	padding: 0 15px;
	border: 1px #f2f2f2 solid;
	border-radius: 3px;
}
#mevutu-top1 .btn-to-cart em { display: inline-block; }
