#mevutu-footer1 {
	background: #333;
	padding: 20px 0;
	margin: 0;
	border-top: 1px #fff solid;
}
#mevutu-footer1,
#mevutu-footer1 a { color: #ccc; }
.style-for-mobile #mevutu-footer1 .mevutu-footer1 { padding: 0 5px 0 10px; }
#mevutu-footer1 .eb-set-menu-selected { padding-right: 15px; }
#mevutu-footer1 .bottom-node li {
	font-size: 16px;
	padding: 6px 0;
}
#mevutu-footer1 .bottom-node .sub-menu {
	list-style: inside;
	padding-top: 8px;
}
#mevutu-footer1 .bottom-node .sub-menu li {
	padding: 4px 0;
	font-size: 13px;
}
