.thread-list { margin: 0 -16px; }
.thread-list li {
	float: left;
	width: 20%;
}
.thread-list-padding {
	margin: 0 16px;
	border: 2px transparent solid;
	padding: 5px 5px 35px 5px;
}
.thread-list-re { position: relative; }
.thread-list-re a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.thread-list-avt {
	background: center no-repeat;
	background-size: auto 100%;
	height: 200px;
	line-height: 200px;
}
.thread-list-title {
	font-weight: normal;
	font-size: 13px;
	height: 38px;
	line-height: 19px;
	overflow: hidden;
	margin: 10px 0;
}
.thread-details-giamgia {
	position: absolute;
	right: 0;
	background: #F99138;
	color: #fff;
	z-index: 11;
	top: 0;
	line-height: 55px;
	font-size: 30px;
	padding: 0 15px 0 5px;
}
.thread-details-giamgia i {
	position: absolute;
	color: #F99138;
	font-size: 95px;
	left: -30px;
}
.thread-list-giamgia {
	position: absolute;
	right: 0;
}
.thread-list-giamgia div {
	position: relative;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
}
.thread-list-giamgia i,
.thread-list-giamgia span {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
}
.thread-list-giamgia i {
	color: #F99138;
	font-size: 42px;
}
.thread-list-giamgia span {
	font-size: 11px;
	color: #fff;
}
.thread-list-gia {
	color: #999;
	text-decoration: line-through;
}
.thread-list-giamoi {
	color: #0E7DC4;
	font-size: 14px;
}
.thread-list-qua {
	background: #ed1f24;
	line-height: 20px;
	position: absolute;
	right: 6px;
	top: 15px;
	padding: 0 10px;
	border-radius: 8px;
	font-weight: bold;
	font-size: 11px;
	text-transform: uppercase;
	color: #fff;
	display: none;
}
/*
.thread-list-giovang {
	background: url(../images/golden_time.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	left: -3px;
	top: -3px;
	width: 40%;
	height: 35%;
	display: none;
}
*/
.thread-list-padding:hover { border-color: #166d06; }
