.thread-details-options {
	padding-top: 10px;
	border-top: 1px #ccc solid;
	margin-top: 10px;
}
.thread-details-slogan {
	border-bottom: 1px #ccc solid;
	border-top: 1px #ccc solid;
	line-height: 30px;
}
.thread-details-slogan li {
	position: relative;
	margin: 10px 0;
}
.thread-details-slogan div { padding-left: 45px; }
.thread-details-slogan i {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	left: 0;
	border: 1px #f00 solid;
	border-radius: 50%;
	text-align: center;
	font-size: 18px;
	color: #f00;
}
.thread-details { box-shadow: 0 1px 3px rgba(0,0,0,.25); }
.thread-details-padding,
.thread-support-padding { padding: 20px; }
.thread-details-tomtat {
	background-color: #eff3f6;
	padding: 18px;
}
.thread-details-title,
.thread-details-title a {
	font-weight: normal;
	text-transform: uppercase;
}
.thread-details-tabs {
	position: absolute;
	left: 0;
	bottom: 0;
	color: #ff0;
	line-height: 36px;
}
.thread-details-tabs li {
	border-bottom: 3px solid #d02028;
	float: left;
	background-color: #716b67;
	padding: 0 20px;
}
.thread-details-hotline {
	background: #e74c0c;
	border-radius: 20px;
	line-height: 40px;
	max-width: 300px;
	margin: 0 auto;
}
.thread-details-hotline a { display: block; }
.thread-details-tab {
	line-height: 35px;
	border-bottom: 2px #333 solid;
	margin-bottom: 19px;
}
.thread-details-tab,
.thread-details-tab a { color: #333; }
.thread-details-tab li {
	float: left;
	padding: 0 32px;
	cursor: pointer;
}
.thread-details-tab li.selected {
	background-color: #333;
	color: #fff;
}
.detail-muangay-padding {
	margin: 0 auto;
	max-width: 600px;
}
.details-mua-ngay,
.details-tu-van {
	height: 60px;
	display: block;
	border-radius: 5px;
	font-size: 15px;
}
.details-mua-ngay {
	background: #d8d8d8;
	border: 0 none;
	cursor: pointer;
	margin-right: 10px;
	width: 100%;
	color: #f00;
}
.details-tu-van {
	background: #fd2322;
	margin-left: 10px;
}
.style-for-mobile .details-tu-van { margin-left: 0; }
.details-tu-van span {
	display: block;
	padding-top: 12px;
}
.thread-details-info {
	background: #d8d8d8;
	padding: 15px 20px;
	margin-bottom: 10px;
}
.thread-details-gia { padding-top: 8px; }
.thread-details-gia .global-details-giamoi {
	font-size: 18px;
	font-weight: normal;
	color: #f00;
}
.clone-show-quick-cart { padding-bottom: 20px; }
.clone-show-quick-cart .eb-quickcart-node { display: none; }
.clone-show-quick-cart .eb-quickcart-tel,
.clone-show-quick-cart .eb-quickcart-submit {
	display: block;
	background: #f29901;
	color: #fff;
	text-align: center;
	margin: 0;
}
.clone-show-quick-cart .eb-quickcart-tel {
	border-radius: 4px 4px 0 0;
	padding: 10px;
}
.clone-show-quick-cart .eb-quickcart-submit {
	border-radius: 0 0 4px 4px;
	padding: 0 10px 10px 10px;
}
.clone-show-quick-cart .eb-quickcart-tel .eb-quickcart-left,
.clone-show-quick-cart .eb-quickcart-tel .eb-quickcart-right {
	float: none;
	width: 100%;
}
.clone-show-quick-cart .eb-quickcart-tel .eb-quickcart-left { text-transform: uppercase; }
.clone-show-quick-cart .eb-quickcart-tel .eb-quickcart-left span { display: none; }
.clone-show-quick-cart .eb-quickcart-tel .eb-quickcart-right { }
.clone-show-quick-cart .eb-quickcart-table input[type=text] {
	padding: 0 3px;
	height: 35px;
}
.thread-details-options tr td:first-child { width: 30%; }
/* .thread-details-options tr td:last-child { width: auto; } */
