.thread-details-slogan { }
.thread-details-slogan li {
	background: #F4F4F4;
	margin-bottom: 5px;
}
.thread-details-slogan div {
	position: relative;
	padding: 8px 0 8px 60px;
	min-height: 40px;
}
.thread-details-slogan i {
	position: absolute;
	left: 0;
	display: block;
	font-size: 35px;
	color: #888282;
	display: block;
	line-height: 40px;
	width: 60px;
	text-align: center;
}
.thread-details-slogan span { font-size: 10px; }
.thread-details { box-shadow: 0 1px 3px rgba(0,0,0,.25); }
.thread-details-padding,
.thread-support-padding { padding: 20px; }
.thread-details-tomtat {
	background-color: #eff3f6;
	padding: 18px;
}
.thread-details-title a { }
.thread-details-tabs {
	position: absolute;
	left: 0;
	bottom: 0;
	color: #ff0;
	line-height: 36px;
}
.thread-details-tabs li {
	border-bottom: 3px solid #d02028;
	float: left;
	background-color: #716b67;
	padding: 0 20px;
}
.thread-details-hotline {
	background: #e74c0c;
	border-radius: 20px;
	line-height: 40px;
	max-width: 300px;
	margin: 0 auto;
}
.thread-details-hotline a { display: block; }
.thread-details-tab {
	line-height: 35px;
	border-bottom: 2px #333 solid;
	margin-bottom: 19px;
}
.thread-details-tab,
.thread-details-tab a { color: #333; }
.thread-details-tab li {
	float: left;
	padding: 0 32px;
	cursor: pointer;
}
.thread-details-tab li.selected {
	background-color: #333;
	color: #fff;
}
.detail-muangay-padding {
	margin: 0 auto;
	max-width: 600px;
}
.details-mua-ngay,
.details-tu-van {
	height: 70px;
	display: block;
}
.details-mua-ngay {
	background: #d71921;
	border: 0 none;
	cursor: pointer;
	margin-right: 10px;
	width: 100%;
}
.details-tu-van {
	background: #585858;
	margin-left: 10px;
}
.style-for-mobile .details-tu-van { margin-left: 0; }
.details-tu-van span {
	display: block;
	padding-top: 12px;
}
