.noithatnhapkhaueh-top3 {
	text-align: center;
	text-transform: uppercase;
	padding: 8px 0;
}
.noithatnhapkhaueh-top3 li {
	display: inline-block;
	text-align: left;
	font-size: 15px;
}
.noithatnhapkhaueh-top3 a {
	color: #333;
	display: block;
	padding: 2px 0;
}
.noithatnhapkhaueh-top3 a:after {
	content: "|";
	display: inline-block;
	padding: 0 12px;
	color: #999;
}
.noithatnhapkhaueh-top3 .sub-menu {
	position: absolute;
	min-width: 220px;
	background: #161616;
	display: none;
	text-transform: none;
	padding: 10px 0;
	border-radius: 3px;
	border: 1px #383838 solid;
	z-index: 10;
}
.noithatnhapkhaueh-top3 .sub-menu li {
	font-size: 13px;
	padding: 0 5px;
}
.noithatnhapkhaueh-top3 li:hover .sub-menu,
.noithatnhapkhaueh-top3 .sub-menu li { display: block; }
.noithatnhapkhaueh-top3 .sub-menu a {
	padding: 8px 10px;
	color: #fff;
	border-radius: 4px;
}
.noithatnhapkhaueh-top3 .sub-menu a:hover {
	background-color: #d15b30;
	text-decoration: none;
}
.noithatnhapkhaueh-top3 .sub-menu a:after { display: none; }
.noithatnhapkhaueh-top3 .sub-menu .sub-menu { display: none !important; }
.noithatnhapkhaueh-top3 a:hover { text-decoration: underline; }
