.noithattre-menuleft .echbay-widget-title {
	background-color: #f7941e;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
	padding-left: 15px;
	border: 0 none;
	margin-bottom: 2px;
}
.noithattre-menuleft .echbay-widget-title:before { display: none; }
.widget_echbay_category .noithattre-menuleft { margin-bottom: 20px; }
.widget_echbay_category .noithattre-menuleft li {
	list-style: none;
	margin: 0;
}
.widget_echbay_category .noithattre-menuleft li * {
	font-weight: normal;
	font-size: 13px;
}
.widget_echbay_category .noithattre-menuleft li a {
	padding: 10px;
	background: #eef0ef;
	display: block;
	margin: 2px 0;
}
.widget_echbay_category .noithattre-menuleft li a:hover { color: #c00; }
.widget_echbay_category .noithattre-menuleft .sub-menu { }
.noithattre-menuleft { }
.noithattre-menuleft .echbay-blog-infos,
.noithattre-menuleft .echbay-blog-gioithieu { display: none; }
.noithattre-menuleft .echbay-blog-title a {
	font-size: 13px;
	line-height: 16px;
}
.noithattre-menuleft .echbay-blog-marginleft { padding-left: 10px; }
.thread-list-order { display: none; }
.thread-module-name {
	border-bottom: 0 none !important;
	line-height: 19px !important;
}
.style-for-mobile .home-news .echbay-blog li {
	float: none;
	width: 100%;
	max-width: 400px;
	margin: 10px auto;
}
/* custom style */
.global-home-module .home_default-title,
.home-news .echbay-widget-blogs-title {
	font-size: 36px;
	text-transform: uppercase;
	line-height: 36px;
	font-weight: 500;
	padding: 40px 0 15px 0;
	color: #ed1c24;
	position: relative;
	margin: 0;
	margin-bottom: 20px;
	text-align: center;
}
.global-home-module .home_default-title:before,
.home-news .echbay-widget-blogs-title:before {
	position: absolute;
	width: 10%;
	min-width: 50px;
	border-bottom: 1px #333 solid;
	left: 45%;
	bottom: 0;
	display: block !important;
	content: "";
}
.home-news .echbay-widget-blogs-title { border-bottom: none; }
