#norcaljump-top1 .web-logo {
	background: left no-repeat;
	background-size: auto 99%;
}
#norcaljump-top1 .norcaljump-top1-phone {
	padding-top: 30px;
	line-height: 30px;
}
#norcaljump-top1 .norcaljump-top1-phone a { color: #fff; }
#norcaljump-top1 .norcaljump-top1-hotline a { color: #F7FF14; }
