#norcaljump-top2 .top-top-login {
	line-height: 32px;
	height: 32px;
	padding: 4px 0;
	background: #f60;
}
#norcaljump-top2 .top-top-login,
#norcaljump-top2 .top-top-login a { color: #fff; }
#norcaljump-top2 .div-search {
	border: 0 none;
	text-align: left;
	border-radius: 4px;
	overflow: hidden;
	width: 95%;
	margin: 0 auto;
}
#norcaljump-top2 .div-search form { padding-left: 5px; }
#norcaljump-top2 .div-search input[type=search] {
	height: 30px;
	width: 80%;
	background: #fff;
}
#norcaljump-top2 .div-search button {
	top: 1px;
	right: 1px;
	bottom: 1px;
	font-size: 20px;
	color: #fff;
	width: 15%;
	background: #000;
	border-radius: 0 4px 4px 0;
}
