#pickupvietnamclub-top3 .top-nav { line-height: 40px; }
#pickupvietnamclub-top3 .nav { border-left: 1px rgba(255, 255, 255, .4) solid; }
#pickupvietnamclub-top3 .nav li {
	float: left;
	position: relative;
	border-right: 1px rgba(255, 255, 255, .4) solid;
}
#pickupvietnamclub-top3 .nav a {
	color: #fff;
	display: block;
	padding: 0 11px;
	font-size: 16px;
}
/*
#pickupvietnamclub-top3 .nav a:after {
	content: "|";
	color: #fff;
}
*/
#pickupvietnamclub-top3 .nav a.selected {
	color: #ccc;
	border-bottom: 2px solid #0076BD;
}
#pickupvietnamclub-top3 .nav .sub-menu {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	background: #fff;
	padding: 6px 0;
	border: 1px solid #f2f2f2;
	border-top-color: #DADADA;
	-webkit-box-shadow: 0 7px 15px -11px #ddd;
	-ms-box-shadow: 0 7px 15px -11px #ddd;
	-moz-box-shadow: 0 7px 15px -11px #ddd;
	-o-box-shadow: 0 7px 15px -11px #ddd;
	box-shadow: 0 7px 15px -11px #ddd;
	line-height: 21px;
	display: none;
	min-width: 200px;
}
#pickupvietnamclub-top3 .nav .sub-menu li {
	float: none;
	margin: 6px 0;
}
#pickupvietnamclub-top3 .nav .sub-menu a {
	color: #003953;
	font-size: 14px;
	padding: 0 16px;
}
#pickupvietnamclub-top3 .nav li:hover { background: #000; }
#pickupvietnamclub-top3 .nav .sub-menu li { background: none !important; }
#pickupvietnamclub-top3 .nav li:hover .sub-menu { display: block; }
#pickupvietnamclub-top3 .nav .sub-menu a:hover { text-decoration: underline; }
#pickupvietnamclub-top3 .nav .sub-menu .sub-menu { display: none;/*
	position: relative;
	font-weight: normal;
	padding: 0;
	border: 0 none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	*/ }
#pickupvietnamclub-top3 .nav .sub-menu .sub-menu li {
	float: none;
	width: 100%;
}
#pickupvietnamclub-top3 .nav .sub-menu .sub-menu .sub-menu { display: none; }
