#rongbay-top1 {
	background: #2570a9;
	line-height: 32px;
}
#rongbay-top1,
#rongbay-top1 a { color: #fff; }
#rongbay-top1 a { display: inline-block; }
#rongbay-top1 .top-menu { }
#rongbay-top1 .top-menu li { display: inline-block; }
#rongbay-top1 .top-menu li:after {
	content: "|";
	margin: 0 15px;
	display: inline-block;
}
#rongbay-top1 .top-menu .sub-menu { display: none; }
