.col-main-content {
	background: #fff;
	border-radius: 4px 4px 0 0;
}
.thread-module-name {
	padding: 0 10px;
	border: 1px #ccc solid;
	border-radius: 4px 4px 0 0;
}
.thread-list-orderby select { padding: 4px 5px; }
.thread-list-order .thread-list-orderby {
	right: 10px;
	top: 7px;
}
