#rongbay-footer3 {
	border-top: 1px solid #f7f7f7;
	padding: 15px 0px;
	background-color: #fff;
	font-size: 11px;
	line-height: 22px;
	text-align: center;
}
#rongbay-footer3,
#rongbay-footer3 a { color: #999; }
#rongbay-footer3 li,
#rongbay-footer3 a:before { display: inline-block; }
#rongbay-footer3 a:before {
	content: "|";
	margin: 0 8px;
}
#rongbay-footer3 a { padding: 0px 2px; }
#rongbay-footer3 a:hover { text-decoration: underline; }
#rongbay-footer3 li:first-child a:before,
#rongbay-footer3 .sub-menu { display: none; }
