#rongbay-top3 .thread-details-tohome {
	height: 38px;
	line-height: 38.5px;
	border: 0 none;
	background: none;
}
#rongbay-top3 .thread-details-tohome li {
	position: relative;
	margin: 0 10px 0px 20px;
}
#rongbay-top3 .thread-details-tohome a {
	background: #fff;
	display: block;
	position: relative;
}
#rongbay-top3 .thread-details-tohome li:before,
#rongbay-top3 .thread-details-tohome li:after,
#rongbay-top3 .thread-details-tohome a:before,
#rongbay-top3 .thread-details-tohome a:after {
	content: "";
	position: absolute;
}
#rongbay-top3 .thread-details-tohome li:before {
	top: 0px;
	left: -23px;
	border: 19px solid #fff;
	border-left-color: transparent;
}
#rongbay-top3 .thread-details-tohome li:after {
	top: 0px;
	right: -58px;
	border: 19px solid transparent;
	border-left-color: #fff;
}
#rongbay-top3 .thread-details-tohome a:before {
	top: 2px;
	right: -39px;
	border: 19px solid transparent;
	border-left-color: #d3deea;
}
#rongbay-top3 .thread-details-tohome a:after {
	bottom: -2px;
	left: -23px;
	border-bottom: 2px solid #d3deea;
	height: 3px;
	width: 23px;
}
#rongbay-top3 .thread-details-tohome li:last-child a:before {
	border-left-color: #fff;
	top: 0;
	right: -38px;
}
