#rongbay-footer1 {
	background-color: #0277bd;
	margin-top: 20px;
	line-height: 36px;
	text-align: center;
}
#rongbay-footer1,
#rongbay-footer1 a { color: #fff; }
#rongbay-footer1 li,
#rongbay-footer1 li:before { display: inline-block; }
#rongbay-footer1 li:before {
	content: "|";
	margin: 0 10px;
}
#rongbay-footer1 li:first-child:before,
#rongbay-footer1 .sub-menu { display: none; }
