/* Global css (thread_node) */
.thread-list { margin: 0 -6px; }
.thread-list li {
	float: none;
	width: 100%;
}
.thread-list-padding {
	background: #fff;
	margin: 0 6px 15px 6px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.13);
	border-top: 1px #f2f2f2 solid;
	border-bottom: 1px #f2f2f2 solid;
}
.thread-list-padding:hover { border-color: #999; }
.thread-list-avt {
	background: center no-repeat;
	background-size: auto 100%;
	height: 220px;
}
.thread-list-info { padding: 15px 0 5px 15px; }
.thread-list-title {
	line-height: 21px;
	margin: 0 0 8px 0;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif, Arial;
}
/*
.thread-list-title * { font-weight: normal; }
*/
.thread-list-title a { color: #333; }
.thread-list-ant {
	position: relative !important;
	z-index: 1;
	color: #999;
}
.thread-list-ant:hover { text-decoration: underline; }
.thread-list-per { display: none;/*
	position: absolute;
	left: 20px;
	background: #ff9104;
	padding: 0 10px;
	line-height: 25px;
	top: 30px;
	*/ }
/* .thread-list-giamgiashow .thread-list-per, */
/*
.thread-list li[data-per="0"] .thread-list-per {
	display: block;
	z-index: 1;
}
*/
.thread-list-desc {
	height: 60px;
	overflow: hidden;
	font-size: 14px;
	color: #5d5c5c;
}
.thread-list-gia,
.thread-list-giamoi { }
.thread-list-gia {
	color: #ff4d98;
	font-size: 15px;
	color: #999;
}
.thread-list-giamoi {
	color: #ff9104;
	font-size: 16px;
	padding: 5px 0 2px 0;
}
/*
.thread-list-mobilebg { }
.thread-list-msp { display: none; }
*/
.thread-list-details .old-price:before { display: none !important; }
.thread-list-details .old-price:after {
	content: "m2";
	display: inline-block !important;
	font-weight: normal;
}
.thread-list-details .old-price { text-decoration: none; }
