.thread-list { margin: 0 -6px; }
.thread-list li { width: 33.33%; }
.thread-list-padding {
	margin: 6px;
	background: #fff;
}
.thread-list-re { position: relative; }
.thread-list a {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}
.thread-list-mgiamgia,
.thread-list-mxem { margin: 15px 0 0 0; }
.thread-list-mgiamgia {
	border: 1px dashed #FF4D76;
	background-color: #FFE8EE;
	color: #FE1B52;
	line-height: 35px;
	width: 95%;
}
.thread-list-mxem {
	color: #FFF;
	line-height: 37px;
}
.thread-list-bg { position: relative; }
.thread-list-avt {
	background: center no-repeat;
	background-size: auto 100%;
	height: 200px;
	line-height: 200px;
}
.thread-list-title { padding: 5px 0; }
.thread-list-title h3 {
	height: 44px;
	line-height: 22px;
	overflow: hidden;
	font-weight: normal;
	font-size: 16px;
	padding: 0 10px;
}
.thread-list-giovang {
	background: url(../images/golden_time.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	left: -3px;
	top: -3px;
	width: 40%;
	max-width: 96px;
	height: 35%;
	max-height: 96px;
	display: none;
	z-index: 9;
}
.thread-list-giovangshow .thread-list-giovang { display: block; }
.thread-list-sale,
.thread-list-giamgia,
.thread-list-new {
	position: absolute;
	right: 0;
	top: 5px;
	line-height: 35px;
	display: none;
	min-width: 70px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	z-index: 1;
}
.thread-list-sale { background: rgba( 255, 0, 0, .8 ); }
.thread-list-giamgia {
	background: rgba( 249, 145, 65, .8 );
	top: 45px;
}
.thread-list-new {
	background: rgba( 0, 153, 0, .8 );
	left: 0;
	right: auto;
}
/*
.thread-list-giamgiashow .thread-list-sale,
.thread-list-giamgiashow .thread-list-giamgia,
*/
.thread-list li[data-per="0"] .thread-list-sale,
.thread-list li[data-per="0"] .thread-list-giamgia { display: block; }
.thread-list-hotgia {
	text-align: center;
	position: relative;
	padding: 5px 0 0 0;
	line-height: 21px;
}
.thread-list-mau,
.thread-list-mua {
	position: absolute;
	top: 5px;
	width: 25%;
}
.thread-list-mau { left: 0; }
.thread-list-mua { right: 0; }
.thread-list-gia {
	color: #666;
	font-size: 14px;
}
.thread-list-giamoi {
	color: #000;
	font-size: 21px;
	line-height: 30px;
}
