#topgearindochina-top1 { }
#topgearindochina-top1,
#topgearindochina-top1 a { color: #44272C; }
#topgearindochina-top1 .topgearindochina-top1 { position: relative; }
#topgearindochina-top1 .top-top-menu {
	position: absolute;
	top: 33%;
	left: 10px;
	right: 10px;
	z-index: 9;
	height: 33%;
}
#topgearindochina-top1 .div-search { border-width: 2px; }
#topgearindochina-top1 .div-search input[type="search"] {
	height: 32px;
	width: 85%;
	padding-left: 5px;
}
#topgearindochina-top1 .div-search button {
	width: 15%;
	font-size: 16px;
}
#topgearindochina-top1 .oi_member_func { font-size: 15px; }
#topgearindochina-top1 .top-phone { font-size: 25px; }
