#vicwatch-footer2 .footer-bottom {
	background-color: #a6a3a3;
	padding: 20px 0;
}
#vicwatch-footer2 .footer-bottom,
#vicwatch-footer2 .footer-bottom a { color: #fff; }
#vicwatch-footer2 .oi_member_func a { display: inline-block; }
#vicwatch-footer2 .oi_member_func a:last-child { margin-left: 15px; }
