/*
* custom style
*/
.thread-list-details .thread-list-gia { padding-top: 5px; }
.thread-list-details .thread-list-giamoi {
	padding: 5px 0 5px 0;
	font-size: 14px;
}
.thread-list-filter {
	border-bottom: 2px #333 solid;
	line-height: 35px;
	color: #fff;
	text-transform: uppercase;
}
.thread-list-filter div {
	background: #333;
	padding: 0 20px;
}
.menu-block-title {
	border-left: #000 5px solid;
	padding: 0 10px;
	background: #da1818;
	line-height: 50px;
}
.nav-menu {
	line-height: 35px;
	text-transform: uppercase;
}
.nav-menu a {
	display: block;
	padding: 0 15px;
	color: #fff;
}
.nav-menu li {
	font-size: 15px;
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
}
.nav-menu .sub-menu a:hover { color: #f00; }
.nav-menu .sub-menu {
	background: #eef0ef;
	text-transform: none;
}
.nav-menu .sub-menu a { color: #000; }
/*
.nav-menu .sub-menu {
	border-left: rgba(199, 199, 199, 0.34) thin solid;
	background: #f7f8fa;
	position: absolute;
	top: 0;
	left: 100%;
	width: 220px;
	z-index: 9;
}
.nav-menu li:hover .sub-menu {
	display: block;
}
*/
.nav-menu li { display: none; }
.nav-menu li.selected,
.nav-menu li.selected .sub-menu li { display: block; }
.eb-sidebar-global-css ul.menu {
	background: #347b1b;
	text-transform: uppercase;
	margin-bottom: 15px;
	line-height: 35px;
}
.eb-sidebar-global-css ul.menu a {
	display: block;
	padding: 0 15px;
	color: #fff;
}
.eb-sidebar-global-css ul.menu li {
	font-size: 15px;
	border-top: solid 2px #fff;
	border-bottom: solid 2px #fff;
}
.eb-sidebar-global-css ul.menu .sub-menu a:hover { color: #f00; }
.eb-sidebar-global-css ul.menu .sub-menu {
	background: #eef0ef;
	text-transform: none;
}
.eb-sidebar-global-css ul.menu .sub-menu a { color: #000; }
.eb-sidebar-global-css ul.menu li { display: none; }
.eb-sidebar-global-css ul.menu li.selected,
.eb-sidebar-global-css ul.menu li.selected .sub-menu li { display: block; }
.menu-right-padding { padding: 10px; }
.details-other-title {
	border-bottom: 3px #EBEBEB solid;
	position: relative;
	line-height: 45px;
	font-size: 14pt;
	border-bottom: 3px #ccc solid;
}
.details-other-title,
.details-other-title a { color: #333; }
.details-other-title:before {
	position: absolute;
	width: 250px;
	border: 0 none;
	border-bottom: 3px #e74c0c solid;
	bottom: -3px;
	left: 0;
	height: 3px;
	padding: 0;
	margin: 0;
	content: "";
}
/* doi tac slider */
.sponsor-top-desktop,
.banner-chan-trang { padding: 0; }
.home-btn-chantrang { border: 0 none; }
.home-prev-chantrang i,
.home-next-chantrang i {
	line-height: 40px;
	font-size: 40px;
}
.home-prev-chantrang i { left: 0; }
.home-next-chantrang i { right: 0; }
/* */
.sponsor-top-review { padding-bottom: 45px; }
.home-blog-bg { background: #f8f8f8; }
.home-small-blog li { margin-bottom: 15px; }
.home-big-blog,
.home-list-blog { margin: 0 -6px; }
.home-big-blog li {
	float: left;
	width: 50%;
}
.home-big-padding,
.home-list-bpadding { margin: 0 6px; }
.home-big-avt {
	background: center no-repeat;
	background-size: auto 100%;
}
.home-big-blog h3 {
	height: 19px;
	overflow: hidden;
	margin-bottom: 10px;
}
.home-big-blog div.l25 {
	height: 50px;
	overflow: hidden;
}
.home-big-blog p {
	border-bottom: 1px #ccc solid;
	padding: 0;
	margin: 0;
	line-height: 35px;
}
.home-list-blog li {
	float: left;
	width: 50%;
}
.home-list-bpadding {
	border-bottom: 1px #ccc solid;
	height: 35px;
	overflow: hidden;
}
.home-list-blog a { color: #666; }
.home-list-blog a:hover { color: #f00; }
.home-news-blog li,
.home-news-list-blog li { width: 33.33%; }
.home-review { margin: 0 -14px; }
.home-review li {
	float: left;
	width: 33.33%;
	margin-bottom: 20px;
}
.home-review-avt {
	margin: 0 auto;
	max-width: 155px;
	background: center no-repeat;
	background-size: auto 100%;
	border-radius: 50%;
}
.home-review-padding { margin: 0 14px; }
.home-review-title { color: #6f6f6f; }
.home-review-address {
	height: 35px;
	overflow: hidden;
}
.home-review-content {
	height: 125px;
	overflow: hidden;
}
.home-brn-review li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
	color: #ccc;
	margin: 0 3px;
	cursor: pointer;
}
/*
.fixed-right-menu .fix-right-menu {
	position: fixed;
	bottom: 0;
}
.abs-right-menu .fix-right-menu {
	position: absolute;
	bottom: 35px;
}
*/
.tapchi-other { margin: 0 -10px; }
.tapchi-other li {
	float: none;
	width: 100%;
}
.tapchi-other-padding { margin: 0 10px 20px 10px; }
.tapchi-other-avt {
	background: center no-repeat;
	background-size: auto 100%;
}
.tapchi-other-margin { padding-left: 20px; }
.tapchi-other-title a {
	font-size: 15px;
	color: #444;
}
.thread-module-name {
	line-height: 40px;
	border-bottom: 1px #333 solid;
	margin-bottom: 20px;
}
.mua-button {
	height: 40px;
	border: 0 none;
	font-size: 18px;
	color: #fff;
	padding: 0 1px;
	margin: 5px;
	border-radius: 1px;
	cursor: pointer;
	width: 95%;
	max-width: 200px;
}
/*
.thread-home-c2 {
	overflow: inherit;
	border-bottom: #f2f2f2 3px solid;
}
*/
.thread-home-c2 a:first-child {
	text-transform: uppercase;
	font-weight: bold;
}
/*
.thread_list_menu_noidung .custom-width-cats-main { width: 75%; }
.thread_list_menu_noidung .custom-width-cats-sidebar { width: 25%; }
*/
.sidebar-main_sidebar {
	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
	line-height: 19px;
	padding: 15px 5px 35px 5px;
	background: #F8F3F9;
}
.sidebar-main_sidebar a { color: #000; }
.sidebar-main_sidebar .widget_echbay_category {
	font-size: 18px;
	color: #bb0001;
	display: block;
	padding: 5px 0;
}
.sidebar-main_sidebar .echbay-widget-title {
	border: 0 none;
	margin: 0;
}
.sidebar-main_sidebar .echbay-widget-title:before { display: none; }
.sidebar-main_sidebar .widget_echbay_category .main_sidebar-title:before,
.sidebar-main_sidebar .echbay-category-in-js a:before,
.sidebar-main_sidebar .top-footer-css a:before {
	font-family: FontAwesome;
	display: inline-block;
	margin-right: 10px;
	width: 15px;
	text-align: center;
}
.sidebar-main_sidebar .widget_echbay_category .main_sidebar-title:before {
	content: "\f10c";
	font-size: 14px;
}
.sidebar-main_sidebar li {
	margin: 0;
	list-style: none;
	border-top: 1px #999 dotted;
	padding: 3px 0;
}
.sidebar-main_sidebar .echbay-category-in-js a { font-size: 12px; }
.sidebar-main_sidebar .echbay-category-in-js a:before,
.sidebar-main_sidebar .top-footer-css a:before {
	content: "\f105";
	font-size: 12px;
	color: #c00;
}
.global-left-ads a:before,
.global-left-ads .echbay-blog-right { display: none; }
.home-padding-mobile { padding-top: 15px; }
.home-gallery {
	height: 240px;
	overflow: hidden;
}
.home-gallery ul,
.home-gallery li { margin: 0; }
.home-gallery .echbay-blog-padding {
	margin: 0;
	padding-bottom: 0;
}
.home-gallery .echbay-blog-left { width: 100%; }
.home-gallery .echbay-blog-right { display: none; }
.custom-width-home-main .thread-list .left-menu-space { padding-left: 8px; }
/*
* style for mobile
*/
/* modify other style */
.style-for-mobile .web-logo {
	line-height: 90px;
	background-position: center;
	margin: 0;
	background-size: auto 90%;
}
.style-for-mobile .home-review li { width: 16.6666%; }
.style-for-mobile .thread-details-padding { padding: 5px; }
.style-for-mobile .tapchi-other-margin {
	padding-top: 10px;
	padding-left: 0;
}
.style-for-mobile .bottom-header {
	height: auto;
	overflow: auto;
	margin: 15px 0;
	text-align: left;
}
.style-for-mobile .thread-details-tab li { padding: 0 15px; }
.style-for-mobile .thread-details-giamgia { padding: 0 10px 0 0; }
.style-for-mobile .thread-details-giamgia div { padding-left: 70px; }
.style-for-mobile .thread-details-giamgia span { padding: 3px 10px; }
.style-for-mobile .home_menu_noidung { display: block; }
.style-for-mobile .thread-list-padding { padding: 5px; }
.style-for-mobile .thread-list-padding .f25,
.style-for-mobile .thread-list-padding .f75 {
	width: 100%;
	float: none;
}
.style-for-mobile .thread-list-title {
	margin-top: 10px;
	height: 57px;
	line-height: 19px;
	overflow: hidden;
}
.style-for-mobile .thread-list-gioithieu {
	height: 76px;
	overflow: hidden;
}
.not-using-navcart { display: none; }
