#vietnamontrails-top3 {
	background: #333;
	padding: 5px 0;
}
#vietnamontrails-top3,
#vietnamontrails-top3 a { color: #fff; }
#vietnamontrails-top3 .div-search-margin { }
#vietnamontrails-top3 .div-search {
	background: #fff;
	position: relative;
	border-radius: 3px;
	border: 1px #ccc solid;
}
#vietnamontrails-top3 .div-search form { padding-left: 3px }
#vietnamontrails-top3 .div-search input[type=search],
#vietnamontrails-top3 .div-search button {
	background: none;
	border: 0 none;
	outline: none;
}
#vietnamontrails-top3 .div-search input[type=search] {
	height: 25px;
	width: 80%;
}
#vietnamontrails-top3 .div-search button {
	background: #9b9b9b;
	color: #fff;
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 20%;
	max-width: 35px;
}
#vietnamontrails-top3 marquee,
#vietnamontrails-top3 .oi_member_func { line-height: 27px; }
#vietnamontrails-top3 marquee { display: block; }
#vietnamontrails-top3 .oi_member_func a {
	display: inline-block;
	font-size: 14px;
}
#vietnamontrails-top3 .oi_member_func a:last-child { margin-left: 15px; }
