#vietnamontrails-footer2 .bottom-contact {
	padding: 20px;
	font-size: 9pt;
	line-height: 18px;
}
#vietnamontrails-footer2 .footer-contact-title {
	text-transform: uppercase;
	font-weight: bold;
	color: #c00;
}
