#viettourist-top3 .nav-top {
	background: #D1E6E7;
	padding-top: 8px;
	border-radius: 5px 5px 0 0;
	margin-top: 2px;
}
#viettourist-top3 .nav-chinh {
	line-height: 19px;
	padding: 15px 0;
	border-radius: 8px 8px 0 0;
	background: #24A9E2;
}
#viettourist-top3 .nav-chinh li {
	float: left;
	border-right: 1px #CFF solid;
	position: relative;
}
#viettourist-top3 .nav-chinh li:last-child { border: 0 none; }
#viettourist-top3 .nav-chinh a {
	display: block;
	padding: 0 10px;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}
#viettourist-top3 .nav-chinh .sub-menu {
	position: absolute;
	min-width: 200px;
	line-height: 28px;
	padding-top: 10px;
	display: none;
	z-index: 999;
}
#viettourist-top3 .nav-chinh .sub-menu li {
	background: #0f91d5;
	float: none;
	width: 100%;
	border-top: solid 1px #4b99fc;
	border-bottom: 1px #1981b7 solid;
}
#viettourist-top3 .nav-chinh .sub-menu a {
	display: block;
	color: #fff;
	padding-left: 10px;
	font-weight: normal;
	text-transform: none;
}
#viettourist-top3 .nav-chinh li:hover .sub-menu { display: block; }
#viettourist-top3 .nav-chinh .sub-menu a:hover { color: #FF0; }
.ebfixed-top-menu #viettourist-top3 .top-top-fix {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	-webkit-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.41);
	-moz-box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.41);
	box-shadow: 0px 2px 10px -2px rgba(0, 0, 0, 0.41);
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.ebfixed-top-menu #viettourist-top3 .nav-top,
.ebfixed-top-menu #viettourist-top3 .nav-chinh {
	border-radius: 0;
	background: none;
}
.ebfixed-top-menu #viettourist-top3 .nav-top {
	margin-top: 0;
	padding-top: 0;
}
.ebfixed-top-menu #viettourist-top3 .nav-chinh li { border-right: none; }
.ebfixed-top-menu #viettourist-top3 .nav-chinh a {
	color: #24A9E2;
	padding: 0 10px;
}
.ebfixed-top-menu #viettourist-top3 .nav-chinh .sub-menu a { color: #fff; }
