.thread-list li { width: 100%; }
.thread-list-padding {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px #ccc solid;
}
.thread-list-title {
	font-size: 13px;
	color: #bb0001;
	font-weight: bold;
	margin-bottom: 11px;
}
.thread-list-gioithieu {
	color: #666;
	line-height: 19px;
}
.thread-list-avt {
	background: #ccc center no-repeat;
	background-size: auto 100%;
}
.thread-list-per {
	position: absolute;
	top: 10px;
	left: 10px;
	background: #f00;
	min-width: 40px;
	text-align: center;
	line-height: 25px;
	border-radius: 5px;
	color: #fff;
}
