#vietnamontrails-footer1 .bottom-support { padding-top: 20px; }
#vietnamontrails-footer1 .bottom-support-border {
	padding: 20px;
	font-size: 9pt;
	line-height: 18px;
	border-top: 2px #c00 solid;
}
#vietnamontrails-footer1 .footer-support-title {
	color: #bb0001;
	font-size: 16px;
	font-weight: bold;
}
#vietnamontrails-footer1 .ls-bottom-support {
	list-style: inside;
	padding: 10px 0;
}
#vietnamontrails-footer1 .ls-bottom-support li { margin-bottom: 5px; }
#vietnamontrails-footer1 .ls-bottom-support a {
	line-height: 16px;
	padding: 3px 0;
	color: #333;
}
