.thread-details-title {
	font-size: 18pt;
	font-weight: normal;
	padding: 3px 0;
}
.thread-details-title a { color: #333; }
.thread-details-comment {
	color: #666;
	margin: 0 0 18px 0;
	line-height: 19px;
}
.thread-details-comment ul {
	display: block;
	margin-left: 18px;
	list-style-type: disc;
}
.thread-details-comment li {
	margin: 0;
	display: list-item;
	text-align: -webkit-match-parent;
}
.details-mua-ngay {
	border: 0 none;
	font-size: 23px;
	height: 60px;
	border-radius: 30px;
	-webkit-box-shadow: 0 2px 2px #ccc;
	-moz-box-shadow: 0 2px 2px #ccc;
	box-shadow: 2px 2px 2px #ccc;
	background-color: #E33127;
	width: 90%;
	margin: 0 auto;
}
.thread-details-call {
	background: red;
	border-radius: 30px;
	height: 60px;
	overflow: hidden;
	text-align: center;
	width: 90%;
	max-width: 330px;
	margin: 0 auto;
}
.thread-details-call a { color: #fff; }
.thread-details-call span {
	display: block;
	font-size: 28px;
	line-height: 35px;
}
.thread-details-tab {
	line-height: 35px;
	border-bottom: 2px #333 solid;
}
.thread-details-tab,
.thread-details-tab a { color: #333; }
.thread-details-tab li {
	float: left;
	padding: 0 32px;
	cursor: pointer;
}
.thread-details-tab li.selected {
	background-color: #333;
	color: #fff;
}
