#vinhaninterior-home4 { padding-bottom: 50px; }
#vinhaninterior-home4 .home-showroom li {
	float: left;
	width: 50%;
}
#vinhaninterior-home4 .home-showroom .banner-ads-padding { margin: 0 2px; }
#vinhaninterior-home4 .home-showroom .banner-ads-title {
	position: absolute;
	top: 45%;
	left: 10%;
	right: 10%;
	text-align: center;
	color: #fff;
	font-size: 18px;
	display: none;
	z-index: 2;
}
#vinhaninterior-home4 .home-showroom li:hover a { background: rgba(0,0,0,0.5); }
#vinhaninterior-home4 .home-showroom li:hover .banner-ads-title { display: block; }
