#webgiare-footer1 { padding: 20px 0 10px 0; }
/* #footer { } */
#webgiare-footer1,
#webgiare-footer1 a { color: #fff; }
#webgiare-footer1 .footer-top { padding: 25px 0 0 0; }
#webgiare-footer1 .footer-about-menu { line-height: 21px; }
#webgiare-footer1 .footer-about-menu li {
	margin-bottom: 10px;
	position: relative;
}
#webgiare-footer1 .footer-about-menu a {
	color: #fff;
	opacity: .5;
}
#webgiare-footer1 .footer-about-menu a:hover {
	opacity: 1;
	text-decoration: underline;
}
#webgiare-footer1 .footer-about-menu i {
	position: absolute;
	left: 0;
	color: #777;
}
#webgiare-footer1 .global-footer__separator {
	background-color: #262626;
	border: none;
	display: block;
	height: 2px;
	margin: 0 auto;
	padding: 0;
}
