.web-top-logo {
	/* background: #3f3f3f; */
	line-height: 30px;
	padding: 8px 0;
}
.web-top-logo,
.web-top-logo a { color: #c2c2c2; }
.oi_member_func a { display: inline-block; }
.oi_member_func a:last-child { margin-left: 15px; }
