/*
#footer { }
#footer,
#footer a { }
*/
#xwatch-footer1 .footer-top {
	background: #dadada;
	padding: 50px 0;
}
#xwatch-footer1 .footer-about-menu { line-height: 21px; }
#xwatch-footer1 .footer-about-menu li {
	margin-bottom: 10px;
	position: relative;
	padding-left: 20px;
}
#xwatch-footer1 .footer-about-menu a {
	color: #333;
	font-size: 14px;
	text-shadow: #888 1px 1px 2px;
}
#xwatch-footer1 .footer-about-menu i {
	position: absolute;
	left: 0;
	color: #777;
}
#xwatch-footer1 .footer-line-border {
	position: relative;
	height: 30px;
	line-height: 30px;
}
#xwatch-footer1 .footer-line-border hr {
	position: absolute;
	top: 15px;
	left: 15px;
	width: 40px;
	padding: 0;
	margin: 0;
	height: 1px;
	background: #000;
	border: 0 none;
}
#xwatch-footer1 .footer-line-border i {
	position: absolute;
	left: 2px;
	font-size: 8px;
	text-shadow: #000 0 0 4px;
}
