/* .web-top-padding { background: #000; } */
#xwatch-top2 .web-logo {
	background: left no-repeat;
	background-size: auto 50%;
	line-height: 170px;
}
#xwatch-top2 .div-search-margin { margin-top: 54px; }
#xwatch-top2 .div-search {
	border-radius: 10px;
	border: 0 none;
}
#xwatch-top2 .div-search form { padding-left: 6px }
#xwatch-top2 .div-search input[type=search],
#xwatch-top2 .div-search button {
	background: none;
	border: 0 none;
	outline: none;
}
#xwatch-top2 .div-search input[type=search] {
	height: 38px;
	width: 85%;
}
#xwatch-top2 .div-search button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 10%;
	font-size: 18px;
	color: #999;
}
#xwatch-top2 .div-search button:hover { color: #000; }
/*
#xwatch-top2 .div-search button {
	font-size: 16px;
	color: #fff;
	max-width: 40px;
}
#xwatch-top2 .div-search:hover {
	background-color: #999;
}
*/
#xwatch-top2 .fix-search-ins { position: relative; }
#xwatch-top2 .div-search-ins {
	position: absolute;
	left: 100px;
	top: 0;
	height: 25px;
	overflow: hidden;
}
#xwatch-top2 .div-search-ins,
#xwatch-top2 .div-search-ins a { color: #fff; }
#xwatch-top2 .div-search-ins li { display: inline-block; }
#xwatch-top2 .div-search-ins li:after {
	content: ",";
	display: inline-block;
	margin-right: 2px;
}
#xwatch-top2 .div-search-ins li:last-child:after { content: "..."; }
#xwatch-top2 .top-multi-hotline a { color: #fff; }
