#xwatch-top3 .global-nav { position: relative; }
#xwatch-top3 .menu-block-title {
	background: #da1818;
	line-height: 52px;
	border-radius: 15px 15px 0 0;
	font-size: 18px;
}
#xwatch-top3 .nav-menu {
	background: #fff;
	position: absolute;
	left: 0;
	right: 0;
	line-height: 40px;
	z-index: 10;
	border-radius: 0 0 10px 10px;
	display: none;
}
#xwatch-top3 .global-nav:hover .nav-menu /*, .global-nav-selected .nav-menu */ {
	border-radius: 0 0 0 10px;
	display: block;
}
#xwatch-top3 .nav-menu-padding {
	padding: 1px 0 20px 0;
	position: relative;
}
#xwatch-top3 .nav-menu li { padding: 0 15px; }
#xwatch-top3 .nav-menu i { position: absolute; }
#xwatch-top3 .nav-menu i.fa-circle {
	left: 15px;
	font-size: 8px;
}
#xwatch-top3 .nav-menu i.fa-angle-right {
	right: 15px;
	font-size: 18px;
	color: #666;
}
#xwatch-top3 .nav-menu a {
	display: block;
	color: #333;
	font-size: 14px;
	padding-left: 15px;
	border-bottom: #ccc thin solid;
}
#xwatch-top3 .nav-menu ul li:last-child a { border: 0 none; }
#xwatch-top3 .nav-menu a:hover { color: #f00; }
#xwatch-top3 .nav-menu .sub-menu {
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100%;
	width: 300%;
	z-index: 9;
	padding: 20px 0 0 20px;
	border-radius: 0 0 10px 0;
	display: none;
}
#xwatch-top3 .nav-menu li:hover .sub-menu { display: block; }
#xwatch-top3 .nav-menu .sub-menu li {
	float: left;
	width: 25%;
	padding: 0;
}
#xwatch-top3 .nav-menu .sub-menu a {
	border: 0 none;
	padding: 0;
	text-transform: uppercase;
	font-weight: bold;
}
#xwatch-top3 .nav-menu .sub-menu i { display: none; }
#xwatch-top3 .nav-menu .sub-menu .sub-menu {
	position: relative;
	left: 0;
	top: auto;
	bottom: auto;
	width: auto;
	padding: 0;
	line-height: 19px;
}
#xwatch-top3 .nav-menu .sub-menu .sub-menu li {
	float: none;
	width: auto;
	padding: 2px 0;
}
#xwatch-top3 .nav-menu .sub-menu .sub-menu a {
	text-transform: none;
	font-weight: normal;
}
/* fixed menu */
.ebfixed-top-menu #xwatch-top3 .global-nav-fixed {
	background: rgba(0, 0, 0, .7);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 11;
}
.ebfixed-top-menu #xwatch-top3 .global-nav-fixed .menu-block-title {
	line-height: 35px;
	border-radius: 10px;
	font-size: 15px;
	margin-top: 5px;
}
.ebfixed-top-menu #xwatch-top3 .global-nav-fixed .global-nav:hover .menu-block-title { border-radius: 10px 10px 0 0; }
.ebfixed-top-menu #xwatch-top3 .global-nav-fixed .top-menu {
	line-height: 25px;
	padding: 10px 0 8px 0;
}
.ebfixed-top-menu #xwatch-top3 .nav-menu,
.ebfixed-top-menu #xwatch-top3 .nav-menu .sub-menu { border: 1px #ccc solid; }
.ebfixed-top-menu #xwatch-top3 .nav-menu .sub-menu {
	border-left: 0 none;
	margin: -1px 0;
}
.ebfixed-top-menu #xwatch-top3 .nav-menu .sub-menu .sub-menu { border: 0 none; }
