/* .web-top-padding { background: #000; } */
.web-logo {
	background: left no-repeat;
	background-size: auto 50%;
	line-height: 170px;
}
.div-search-margin { margin-top: 54px; }
.div-search {
	border-radius: 10px;
	border: 0 none;
}
.div-search form { padding-left: 6px }
.div-search input[type=search],
.div-search button {
	background: none;
	border: 0 none;
	outline: none;
}
.div-search input[type=search] {
	height: 38px;
	width: 85%;
}
.div-search button {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 10%;
	font-size: 18px;
	color: #999;
}
.div-search button:hover { color: #000; }
/*
.div-search button {
	font-size: 16px;
	color: #fff;
	max-width: 40px;
}
.div-search:hover {
	background-color: #999;
}
*/
.fix-search-ins { position: relative; }
.div-search-ins {
	position: absolute;
	left: 100px;
	top: 0;
	height: 25px;
	overflow: hidden;
}
.div-search-ins,
.div-search-ins a { color: #fff; }
.div-search-ins li {
	display: inline-block;
	margin-left: 2px;
}
.top-multi-hotline a { color: #fff; }
