#aabbcc .footer-social { }
#aabbcc .footer-social li { }
#aabbcc .footer-social a { }
#aabbcc .footer-social span { }
#aabbcc .footer-social i { }
#aabbcc li.footer-social-fb { background-color: #3A589B; }
#aabbcc li.footer-social-tw { background-color: #25AAE1; }
#aabbcc li.footer-social-yt { background-color: #CA3737; }
#aabbcc li.footer-social-gg { background-color: #DE4B39; }
#aabbcc li.footer-social-it { background-color: #ec4938; }
