/* chuyển thumb ảnh trong trang chi tiết sang dạng đứng (nằm bên phải) */
.thread-details-mobileCenter {
	position: relative;
	padding-right: 18%;
}
.thread-details-mobileCenter .jEBE_slider-thumbnail {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 15%;
	max-width: 90px;
	height: auto !important;
	margin: 0;
}
.thread-details-mobileCenter .jEBE_slider-scroll-thumbnail ul {
	width: auto !important;
	position: relative;
	position: unset;
}
.thread-details-mobileCenter .jEBE_slider-child-thumbnail li {
	width: auto !important;
	float: none;
}
.thread-details-mobileCenter .jEBE_slider-child-thumbnail li div { background-color: #f2f2f2; }
.thread-details-mobileCenter .jEBE_slider-arrow-thumbnail { display: none; }
/* khi muốn cột này sang bên trái -> copy đoạn dưới đây cho vào css config */
/*
.thread-details-mobileCenter {
	padding-left: 18%;
	padding-right: 0;
}
.thread-details-mobileCenter .jEBE_slider-thumbnail {
	right: auto;
	left: 0;
}
*/
/* */
.style-for-mobile .thread-details-mobileCenter { padding-right: 0; }
.style-for-mobile .thread-details-mobileCenter .jEBE_slider-child-thumbnail li {
	float: left;
	width: 25% !important;
	max-width: 90px;
}
.style-for-mobile .thread-details-mobileCenter .jEBE_slider-thumbnail {
	max-width: none;
	width: auto;
	position: relative;
	position: unset;
	margin: 15px 0;
}
.style-for-mobile .thread-details-mobileCenter .jEBE_slider-scroll-thumbnail ul { width: 100% !important; }
