.style-for-mobile .thread-details-mobileCenter {
	padding-right: 0;
	padding-left: 0;
}
.style-for-mobile .thread-details-mobileCenter .jEBE_slider-child-thumbnail li {
	float: left;
	width: 25% !important;
	max-width: 90px;
}
.style-for-mobile .thread-details-mobileCenter .jEBE_slider-thumbnail {
	max-width: none;
	width: auto;
	position: relative;
	position: unset;
	margin: 15px 0;
}
.style-for-mobile .thread-details-mobileCenter .jEBE_slider-scroll-thumbnail ul {
	width: 100% !important;
	position: relative;
	position: unset;
	left: auto;
	right: auto;
}
.style-for-mobile .thread-details-mobileCenter .jEBE_slider-left-thumbnail,
.style-for-mobile .thread-details-mobileCenter .jEBE_slider-right-thumbnail { display: none; }
